[2019-06-12 02:26] diervo commented on #1345
We should be good now.

[2019-06-12 02:26] #1345 closed

[2019-06-12 15:14] caridy opened #1350 "[synthetic-shadow] ID Mangling mechanism is broken for edge cases"
### Description

The ID mangling mechanism is carry on by the compiler, but it is useless when using native shadow, which means it should not go into our compiler.

Additionally, the current implementation, since it is carry on by the compiler, only applies to elements from a template tag, which excludes any manual inserted element. This is not a big deal since you are required to use `lwc:dom=man

[2019-06-12 15:37] caridy opened #1351 "[synthetic-shadow] implement slotting via global patches"
As today, slotting is done by the engine. As part of the full separation between engine and synthetic shadow, we should move the slotting and allocation of slotted elements into the polyfill, and remove all that logic from engine.

This process is not trivial, but it is required to support full interoperability with vanilla and 3rd party compiled web components.

ShadyDOM has a dummy implementatio

[2019-06-12 19:43] caridy opened #1352 "[synthetic-shadow] missing patches"
* shadow-dom/untriaged/shadow-trees/upper-boundary-encapsulation/dom-tree-accessors-001.html
  * [ ] document.all

* shadow-dom/untriaged/shadow-trees/upper-boundary-encapsulation/dom-tree-accessors-001.html
  * [ ] document.images
  * [ ] document.embeds
  * [ ] document.plugins
  * [ ] document.links
  * [ ] document.forms
  * [ ] document.scripts
  * [ ] document.anchors

[2019-06-12 19:46] caridy opened #1353 "[synthetic-shadow] missing features"
* [ ] ShadowRoot.styleSheets

[2019-06-13 06:58] az-oolloow opened #1356 "Make lightning-datatable column size responsive?"
I have a LWC component (NOT Aura) that has a datatable with just one column.

By default, the width of that column is 1000 px, which is way too small.

Using `max-column-width="4000"` or similar on the `lightning-datatable` tag i can get the column to size itself to screen width.

However, if the user then resizes the screen, the column does not follow that.

Is there any way to set the column to

[2019-06-13 13:37] caridy commented on #1356
This question is about lightning global components, which will be in another repo in the future, and you can use other channels for this type of questions. cc @reiniergs who implemented most of the features of the lightning-datatable.

[2019-06-13 13:37] #1356 closed

[2019-06-15 13:52] larkintuckerllc commented on #1332
Coincidentally, I just bumped into an interesting JavaScript pattern that potentially provides a pattern for cross-cutting concerns with LWC.  The beauty of the pattern is that once you see it, it is super simple and obvious.
http://justinfagnani.com/2015/12/21/real-mixins-with-javascript-classes/

Looking at using this pattern with some real-world examples, e.g., redux and apollo client

[2019-06-15 15:32] caridy commented on #1332
yes @larkintuckerllc that works fine with LWC, in fact we have some folks using it, but, we do not recommend it if you are planning to share your component thru salesforce platform. Until we can land the syntax in Javascript (we are working with google folks on that), we have no way to do a full static analysis of the component, and therefore, part of the referencial integrity aspect of the platfo

[2019-06-16 03:06] caridy opened #1357 "[wire-service] Remove experimental `WireContextEvent` event name"
As today, we use an experimental mechanism to provide a dummy-context mechanism. This relies on a magic string value `"`WireContextEvent"` that can be used to dispatch a DOM event from a wire adapter.

This is not longer needed, and should be removed in favor of the formal context mechanism specified here https://github.com/salesforce/lwc-rfcs/pull/6.

[2019-06-17 05:37] az-oolloow opened #1359 "Summer 19 release - production - unable to import own custom components in a managed package"
This seems to only affect orgs that are developing managed packages.

What happens is if you have one **custom** component import another custom component, the js can't compile as it can't find the module (for whatever reason now?)

To replicate this, do the following in Summer 19:

1) Create the first component (e.g. here called TestCo)

Html

[code]

Js

[code]

Metadata

[code]

2) Create the s

[2019-06-17 05:56] diervo commented on #1359
Hi @az-oolloow, couple of things:

First, Not sure what you mean by `console` but certainly developer console is not supported on LWC.

As per this:
[code]

This is certainly incorrect and irrelevant since 1) its a default exports 2) you don't need it (dependencies are automatically imported).

I'm not sure what you mean by managed package since you are working with `c` namespace, but anyway, simp

[2019-06-17 05:56] #1359 closed

[2019-06-17 06:06] az-oolloow commented on #1359
@diervo
1) `console` as in Salesforce UI:
![image](https://user-images.githubusercontent.com/47766072/59581711-15f37f00-9119-11e9-8ceb-4c541540c741.png)
2) Yeah, i took this from SF examples and until Summer 19 the code worked without it
3)

In Salesforce, the code in an org can belong to the 'unmanaged' or 'managed' package - this is a model of distribution of code across organizations.

Managed

[2019-06-17 06:21] diervo commented on #1359
This issue was closed because has nothing to do with this repository (we can't humanly scale otherwise). The stack exchange link you sent is indeed the perfect channel for surfacing your problem.

@esalman-sfdc can you take a look and respond accordingly on the stack-exchange post?

[2019-06-17 19:20] larkintuckerllc commented on #1336
@NeroBlackstone Actually turns out that one does NOT NEED a view integration library to work with Apollo Client; does make the code a little simpler though.  Here is an article that I wrote that gives a concrete example of Apollo Client with LWC.

https://medium.com/@johntucker_48673/lightning-web-components-and-apollo-client-7471457bbb16?source=friends_link&sk=38889fc78e34cccd76510ab4d49c3491

[2019-06-17 19:22] larkintuckerllc commented on #1336
Related to creating a standard view integration library (would make code more declarative), I have an open question to the folks at LWC about the best way to create cross-cutting concerns (exactly what we would want to do here).  https://github.com/salesforce/lwc/issues/1332

[2019-06-17 20:34] davidturissini commented on #1336
I'm not a big fan of the approach taken in that article. What is done there works, but I think there is a better way.

[2019-06-17 20:39] ekashida commented on #1260
This metadata was intentionally removed as part of #1186 so the engine has no means to validate whether expression identifiers used in the template exist on the component instance.

@caridy should we remove the validation?

[2019-06-18 01:39] sfdciuie commented on #1327
Perhaps it should be the first element that's not hidden or disabled, has [1]: tabindex of either -1 or 0, and [2] has the `autofocus` attribute on it, and otherwise focus on the first one that has [1].

[2019-06-18 03:07] caridy commented on #1260
this is not metadata, this is actual data provided by the compiled output.

[2019-06-18 03:28] ekashida commented on #1260
Whatever we want to call it, the compiler no longer provides it:
https://github.com/salesforce/lwc/commit/692a8052b9f3e6fa911b886fcf1168743cbc5a6e#diff-df50b24367033cabcda3f65436b817f0L75

@diervo @pmdartus @apapko are there any plans to formalize a compiler API for OSS that provides this information?

[2019-06-18 04:45] ekashida commented on #1327
@sfdciuie that sounds like a good start but my concern is that what is and isn't focusable isn't well defined so I'd rather let component authors explicitly define what their focus method does today so that we don't break any existing functionality tomorrow.

[2019-06-18 05:06] ekashida commented on #1245
Discussed this with @amrutaphanse and learned that the use case for base components is to use the `relatedTarget` of the `blur` event to determine whether focus is leaving the datatable to clean up focus-related styling. Checking `activeElement` doesn't work in this case because it reference `document.body` during a blur.

The suggested workaround is to add logic that assumes focus is leaving the

[2019-06-18 05:19] caridy commented on #1260
This information should be passed along into the call to `registerTemplate()`, which is imported from engine on the output format.

[2019-06-18 12:46] larkintuckerllc commented on #1336
@davidturissini  Would love to explore an alternative approach to incorporating Apollo Client with LWC; do you have a recommended mechanism to sync and talk outside of this GitHub issue?

Also, for context, the approach I took was based on my experience in using react-apollo where you connect components directly using the Query and Mutation components (render-props pattern).  The problem, however

[2019-06-18 15:34] apapko commented on #1260
@ekashida the only plan that we have on the books so far is to refactor the entire compiler metadata shape and potentially open source in the future. However, today un-refactored metadata collection logic lives in lwc-platform and not in oss.
@caridy during the metadata migration work, all of the template meta was removed and no test failures were observed. However, Eugene mentioned that the tests

[2019-06-18 16:50] davidturissini commented on #1336
@larkintuckerllc Just sent you an email

[2019-06-18 18:58] caridy commented on #1260
yes, definitely

[2019-06-19 13:24] larkintuckerllc commented on #1336
David,

Not sure if this is the email that you are referring to.  But if this gets
to you, would be happy to chat in person.  Have a GoToMeeting account we
can use.

John

On Tue, Jun 18, 2019 at 12:51 PM David Turissini <notifications@github.com>
wrote:

[2019-06-19 18:36] ekashida commented on #1331
I found out after discussing with @diervo that the reason why we can't upgrade `cssnano` right now is because they dropped support for their synchronous API.

[2019-06-19 20:46] ekashida commented on #1300
After some discussion, we agreed that we should default to `open`.

[2019-06-19 21:02] #1257 closed

[2019-06-19 22:26] caridy opened #1364 "implement adopted stylesheet"
as today, we have a forking logic between native shadow and synthetic shadow.

for native, the engine insert a cloned StyleElement as the first node of the shadow.
for synthetic, the engine insert a StyleElement in the header.

## Proposal

once adopted stylesheet is available in all modern browsers, we should add the polyfill into synthetic shadow to pipe it as StyleElement in the header, and rem

[2019-06-20 01:37] #1300 closed

[2019-06-20 20:00] CommanderQ opened #1366 "[synthetic-shadow] iframe.contentWindow missing addEventListener / removeEventListener"
### Description

`<iframe>` elements generated by LWC components have a `contentWindow` instance with a reduced set of functionality compared to that of a browser-native `contentWindow` instance. While many commonly-used methods and properties are present, the LWC `contentWindow` instance does not expose the methods `contentWindow.addEventListener()` and `contentWindow.removeEventListener()`, whic

[2019-06-20 20:05] AlexBryner opened #1367 "SVG Linear Gradient Tag throwing error - 1078: has no matching closing tag"
### Description

Using a Linear Gradient Tag within SVGs throws an error for missing a matching tag.  The tags can be applied to the svg with javascript, but there are errors thrown when the template is compiled with SVG Linear Gradient tags.

## Playground Link
https://developer.salesforce.com/docs/component-library/tools/playground/lq-8iCl3B/9/edit

[2019-06-21 07:40] apapko opened #1369 "[compiler] compiler doesn't validate public properties with underscore names"
### Description
The following @api properties are legal in LWC class today:
[code]
Per HTML standard, the attribute names must be all lower case and may only contain hyphens, which means that in order for the component author to pass _**myProp**_ via template, the property name must become hyphenated:
[code]

There is inconsistency in syntax between class property _myProp_ and its equivalent html

[2019-06-21 12:23] ekashida opened #1370 "[delegatesFocus] Account for programmatic focus"
### Description

Our delegatesFocus polyfill currently only accounts for two cases: sequential focus navigation and focus placement via mouse clicks. Programmatically focusing on an element incorrectly executes the code path for sequential focus navigation when it should be treated more like a mouse click. The main difference between the two is that sequential focus navigation accounts for the pre

[2019-06-21 20:06] CommanderQ opened #1372 "Missing "the" in PR template"
### Description

A minor grammatical error is in the PR template. We have:

Which should be:

[2019-06-21 20:29] #1372 closed

[2019-06-22 02:15] caridy commented on #1369
I'm not sure what the problem is. `_` is perfectly valid attribute name as far as I can tell, e.g.:

![image](https://user-images.githubusercontent.com/38969/59958283-1e79eb80-9472-11e9-8b86-8abdc1626b90.png)

[2019-06-22 02:22] caridy commented on #1367
Thanks for the report @AlexBryner, this seems to be a problem in the compiler. I don't think we have provision for special tagNames like `linearGradient`, which happens to be camel cased. That's not very common in HTML, I don't recall any other element with similar form.

I suspect we can add the exception in the compiler to allow such tagName. /cc @jodarove @ravijayaramappa

[2019-06-24 16:01] apapko commented on #1369
@caridy the issue is in component update sequence, specifically in the following dev mode assertion:
[code]
Here is the playground sample: https://playground.lwcjs.org/projects/zTgbpmHbH/20/edit

[2019-06-24 16:33] caridy commented on #1369
ok, then this is a bug in the compiler. I have looked into the compiled code, and I see this:

[code]

For some reason, the compiler is assuming that `prop_underscored` should be passed down as `propUnderscored`, which is wrong... but other than that, engine and everything else is fine.

Btw, your playground is wrong, it was passing `prop-underscored` instead of `prop_underscored` in the app templ

[2019-06-25 17:39] diervo opened #1376 "Style compiler fails on COMPAT for nested var combined expressions"
### Description
Error generating CSS for compat for nested compounded variables

#### Steps to Reproduce
[code]
Should produce:
[code]

Instead, its missing the concatenation operator when Text and Expression are combined within a variable expression.

[2019-06-25 17:41] davidturissini commented on #427
I have concerns, especially around DX, with adding a new directive to support custom elements. On the surface, the compiler should know which components it can resolve and which components it cannot resolve. If it comes across a tag name that it cannot resolve, why not just create the element as-is and let the browser handle what happens?

[2019-06-25 18:00] diervo commented on #427
@davidturissini that violates a very core invariant of the compiler: We compile one bundle at the time and we have no knowledge of any other component on the system.

Is not business of the compiler to understand the whole world of potential components registered. If anything it should be the registry holding the modules and the metadata for all dependencies (what in platform we call second pass c

[2019-06-25 18:05] davidturissini commented on #427
@diervo the compiler knows about namespaces and where to resolve those namespaces, correct? If the compiler encounters a tag name that doesn't fall into that namespace could it just assume that element can just be created natively?

[2019-06-25 18:26] diervo commented on #427
Nope, we just have a special behaviour for a special unique namespace (in this case "c"). @apapko to add more details.

We could technically pass a list of namespaces, but still can be ambiguous...
I rather prefer fail fast and be explicit, but I can be convinced of passing namespaces maybe?

[2019-06-25 19:02] caridy commented on #427
Yes, I agree with @diervo here. If you are importing something, that must be present somehow, otherwise it is an error. In our template, we decided to resolve things for you for convenience, and that put us on this spot where the things you use in your template must be resolved by a loader via the import mechanism.

In theory, in the open source, you could literally resolve to a web component expo

[2019-06-25 19:43] jarrodek commented on #427
We are working on a POC for LWC used in Anypoint platform. Also there's a discussion around moving to WC in general. We are considering LWC to use with new component but not being able to use other custom elements is a huge obstacle. We do not want to develop everything by ourselves for one library while there's a lot of existing open WCs (Vaadin, Polymer to name some).

As for new directive for c

[2019-06-25 19:51] caridy commented on #427
@jarrodek question for you:

do you want to bring other WC inside the templates that you author in LWC? or you're thinking on writing them all in LWC, and give them to your consumers as registered WC, while also you use them in your templates?

It is a complex question, apologies if it is confusing. I just want to clarify that if you have 3 components, and they all use each other as LWC, they will

[2019-06-25 19:55] jarrodek commented on #427
And this is my problem with current state.
I have a library of over 200 components build on top of Polymer/LitElement library. This set of components is build for API tooling. I don't see a path for me to rewrite them to LWC to use them in our other components based on LWC.

[2019-06-25 19:58] caridy commented on #427
Got it! thanks. Last question for you @jarrodek, e.g.:

[code]

If `x-foo` is written in polymer, do you want your LWC component to import it and get it ready? or do you prefer the LWC component to assume that this dependency is provisioned by someone else at some point before or after? Basically, explicit vs implicit imports of those external deps?

[2019-06-25 20:26] jarrodek commented on #427
What I would like to do is to import `x-foo` from npm. The components is not pre-processed so LWC you have to import it and get it ready.

[2019-06-25 23:41] #1376 closed

[2019-06-26 00:08] diervo commented on #427
Let me restate my position of not passing a list of things to the compiler.
That being said there are a couple of possibilities:

We could have a flag that that says: If the component

[2019-06-26 01:37] caridy commented on #427
Here is my proposal implementation: https://github.com/salesforce/lwc/pull/1379

It doesn't require any changes anywhere, and the import from templates must be still implicit and resolved by the LWC resolver, even though it resolves to a vanilla component.

[2019-06-26 04:47] diervo commented on #427
My proposal somewhat related to what @davidturissini said but without making the list on the compiler: https://github.com/salesforce/lwc-todomvc/pull/28/files

[2019-06-26 05:08] diervo commented on #427
If we want to really preserve the semantics of WC and the lazy upgradability, it means that we can't make assumptions on when the constructor will be available, which we are doing on your proposal (we generate the import automatically at compile time hence the import must be resolved there).

What if we combine both proposals? In my proposal for all non resolved components (at build time) I create

[2019-06-26 05:14] davidturissini commented on #427
I think an issue here is that both implementations assume that the developer has access to the h deleting constructor.

I’m concerned that these approaches will not be compatible with developers loading custom elements from a CDN and simply using them with the html tag.

[2019-06-26 06:50] jarrodek commented on #427
I am not sure how the engine works so correct me if I am wrong.
Why can't we just allow custom elements in the `<template>` to be as any other element which is not known LWC and just update properties / attach listeners as declared in the template? From LWC PoV it doesn't matter when exactly the element gets upgraded from unknown element to `x-foo`. Properties will still be there, event listeners

[2019-06-26 14:48] shocks13 opened #1380 "Format conversion between returned Data Service objects and Apex objects"
**Is your feature request related to a problem? Please describe.**
I've come across this issue when using both apex and lightning data service to return records. Basically the objects returned from Apex and much simpler than that of data service and so sometimes cause issues when trying to render attributes onscreen. For example onload I call an apex method to return a list of objects that display

[2019-06-26 15:17] kevinv11n commented on #1380
I’m not following exactly what you’re looking for. Can you share some minimal code that demonstrates the issue?

[2019-06-26 15:32] shocks13 commented on #1380
Sure thing, so basically I call some apex code like so:

`relatedFieldMappings({
                recordId: this.bulkUpload.id
            })
            .then(result => {
                console.log('result: ', result);
                this.fieldMappings = result;
            })
            .catch(error => {
                console.log('error: ', error);
            });`

and I render this using t

[2019-06-26 15:58] caridy commented on #427
@jarrodek that's not possible until after we get the scope registry! otherwise you have to register all components as web components, and they how to apply access checks in lightning platform? That's not how LWC works for that particular reason.

[2019-06-27 19:27] quinnmcphail commented on #1367
Hi there! Do you mind if I give this a shot?

[2019-06-27 19:58] larkintuckerllc commented on #1336
So, after a bit for work with @davidturissini, created another example (and supporting article) that shows a better approach.

https://medium.com/@johntucker_48673/cross-cutting-concerns-in-lightning-web-components-solved-e8eca2c4ad3?source=friends_link&sk=55ebcbb04d54e0d52c91ddccff474661

[2019-06-27 20:00] larkintuckerllc commented on #1332
FYI... Through an effort to incorporate Apollo Client, ended up learning about an officially supported pattern for cross-cutting concerns in LWC; just not well documented.  Here is an article on the topic:

https://medium.com/@johntucker_48673/cross-cutting-concerns-in-lightning-web-components-solved-e8eca2c4ad3?source=friends_link&sk=55ebcbb04d54e0d52c91ddccff474661

[2019-06-27 21:28] caridy commented on #1367
@quinnmcphail go for it! If you need guidance, just let us know... @ravijayaramappa and @ekashida are now experts on the compiler.

[2019-06-28 02:24] ekashida opened #1382 "[delegatesFocus] Focus should transfer to focusable ancestor (in the same shadow) when click target is not focusable"
### Description

When the user clicks on a focusable element, the delegatesFocus polyfill disables all the magic and lets the browser do its thing. This implementation breaks down when the click target is a non-focusable element wrapped by a focusable element.

#### Expected Behavior

Focus should apply to the focusable element wrapping the non-focusable element when the non-focusable element is c

[2019-06-28 05:56] kevinv11n commented on #1380
Thanks for the code samples.

I don't believe it's possible to support converting to/from [Apex SObjects](https://developer.salesforce.com/docs/atlas.en-us.apexcode.meta/apexcode/apex_methods_system_sobject.htm) and [UIAPI Records](https://developer.salesforce.com/docs/atlas.en-us.uiapi.meta/uiapi/ui_api_responses_record.htm#ui_api_responses_record) in all cases. Records contains some additional d

[2019-06-28 16:39] caridy commented on #858
This issue is now half-way there. The underlying implementation is now ready for the reactive setters, and reactive wired methods. Here is a reference implementation for the reactive setters: https://github.com/salesforce/lwc/pull/1038/commits/ea671e5b70153d1d6b839729a363fcbb11257a1d

We are waiting for features flagging so we can introduce them slowly.

[2019-06-28 19:19] #1382 closed

[2019-06-28 21:51] quinnmcphail commented on #1367
It looks like the [parse5 package](https://github.com/inikulin/parse5) used to parse the HTML for LWC doesn't like a lot of SVG tags.

When I ran a snippet of SVG code [through the parse5 playground](https://astexplorer.net/#/gist/7a7d3160c85930137191a0cba52b9590/2e58de84391e4a3014b8babfc09ad559bb228adb), it picked up the `startTag` location for all of the tags but not the `endTag` location.

It d

[2019-06-28 22:24] diervo commented on #1367
Let me talk to Ivan the owner of parse5 see if he would be ok introducing this changes.

[2019-07-01 23:23] ekashida opened #1387 "[delegatesFocus] Handle the case where the next tab should cause the document to lose focus"
### Description

In the current implementation, we blur the active element if there is no remaining focusable element. At this point, the active element is `document.body` and the next element to focus depends on how the browser implements sequential focus navigation.

We should allow focus to cleanly exit the current synthetic shadow so that the next tab will not cause focus to re-enter the synth

[2019-07-02 01:01] ekashida commented on #1031
This bug is no longer reproducible in 1.0.2

[2019-07-02 01:01] #1031 closed

[2019-07-02 01:04] ekashida commented on #1032
Duplicate of https://github.com/salesforce/lwc/issues/1243 which has more details.

[2019-07-02 01:04] #1032 closed

[2019-07-02 02:20] ekashida opened #1388 "[delegatesFocus] Userland focusin/focusout handlers should not execute when LWC uses those events to simulate focus delegation"
### Description

focusin and focusout events related to our delegatesFocus implementation should be transparent to components. We currently "mute" these [here](https://github.com/salesforce/lwc/blob/5d4dc4df74283e940e282f1a6e9d7a2a25388a7c/packages/%40lwc/synthetic-shadow/src/faux-shadow/focus.ts#L193-L196) but we should be stopping immediate propagation instead.

#### Steps to Reproduce

https://

[2019-07-02 18:13] larkintuckerllc opened #1389 "Support for TypeScript Using lwc-create-app"
It would be helpful to if the project generator, lwc-create-app, supported a TypeScript option; thus generating the project in TypeScript

[2019-07-02 18:15] larkintuckerllc opened #1390 "Documentation on Using LWC with Custom Webpack Configuration"
While using lwc-create-app is useful for many situation, it is likely it does not cover all use cases.  It would be helpful to understand how to incorporate LWC into a existing build process (presumably with webpack).

[2019-07-02 19:15] #1380 closed

[2019-07-02 22:17] diervo commented on #1390
@larkintuckerllc thats really good feedback, we will write docs and share some applications within a week or two on how to configure regular tooling (webpack, rollup et all)

[2019-07-02 22:18] diervo commented on #1389
Probably @muenzpraeger wants to move this issue to the create-app repo? and maybe @davidturissini can share with you an example for TS.

[2019-07-03 03:31] davidturissini commented on #1390
@larkintuckerllc have you tried https://www.npmjs.com/package/lwc-webpack-plugin ? This should integrate with any existing webpack config

[2019-07-03 03:36] muenzpraeger commented on #1390
@larkintuckerllc have you tried to use the `-w` flag on `lwc-services` which is set up via `lwc-create-app`? That allows to use any custom webpack config.

[2019-07-03 06:42] muenzpraeger commented on #1389
IF I could transfer from this repo I would... ;-)

[2019-07-03 06:57] muenzpraeger commented on #1389
@larkintuckerllc Can you open the issue here on the [lwc-create-app repo](https://github.com/muenzpraeger/lwc-create-app/issues/new/choose) - that would be great. Thanks!

[2019-07-03 12:00] larkintuckerllc commented on #1389
Assuming that since the issue is not reported in a different repository that it is fine to close here.

[2019-07-03 12:00] #1389 closed

[2019-07-03 20:00] larkintuckerllc commented on #1390
First here is a working example; hacked from example provided by @davidturissini

https://github.com/larkintuckerllc/lwc-webpack

Below are some challenges that I ran into:

__Transpiling to ES5 (for IE 11)__

One problem with this example is that it is not transpiling the code (on purpose); thus the bundle is not ES5 (and thus not compatible with IE11).

Was unsuccessful in adding either:

* Babe

[2019-07-03 20:14] caridy commented on #1390
@larkintuckerllc when registering LWC as WC you must build it accordingly, change this line:

`window.customElements.define('my-app', App);`

into

`customElements.define('my-app', buildCustomElementConstructor(App));`

Make sure that you import `buildCustomElementConstructor` from lwc.

As for the polyfills, yes, you should be able to use google's polyfill for web components, or you can just use

[2019-07-05 13:29] sfdciuie opened #1394 "'inputmode' as a valid attribute of <input>"
**Is your feature request related to a problem? Please describe.**
Using `<input inputmode="decimal"` leads to LWC compiler error `Error: Error: LWC1057: inputmode is not valid attribute for input. For more information refer to https://developer.mozilla.org/en-US/docs/Web/HTML/Element/input`. This is relevant to mobile platforms and both Chrome and iOS Safari support it (Firefox mobile supports it

[2019-07-05 13:42] #1394 closed

[2019-07-05 13:43] sfdciuie commented on #1394
This has recently been fixed, closing

[2019-07-08 16:53] #1369 closed

[2019-07-09 05:40] jarrodek commented on #1331
@diervo the code might not be actually used but 1) it doesn't look good especially if you are starting with LWC and you see errors like this and 2) the infosec team most probably disagree with this and I will have a problem putting an app into production.
Is there anything we can do about that?

[2019-07-09 15:43] diervo commented on #1331
you are right, and we fixed most of them, will see what we can do about this one without upgrading the world.

[2019-07-09 22:49] ekashida commented on #1350
@caridy could you clarify how the provided WPT example is related to id-mangling?

[2019-07-09 22:53] ekashida commented on #1350
What are the things we need to be concerned about when the `id` is accessed before the element is inserted into a shadow? Is the concern mainly about consistency? Would it be sufficient to throw for that case in dev mode?

[2019-07-10 22:37] caridy opened #1405 "ability to reset an element generated from template"
• LWC uses virtual dom mechanism to update the DOM. changing values (props and attrs) are carry on on the DOM if the structure of the DOM is preserved
• Iterations and other unpredictable structures are handled via unique keys, to try to preserve elements without introducing component state problems (that's what the infamous `key` attribute is, and why that is required inside iterations)
• DOM doe

[2019-07-12 17:33] CommanderQ opened #1409 "Slot content cannot be conditionally shown (toggled) more than once"
### Description

When using a slotted component with conditionally-displayed content (using an `if` directive), the content can be displayed and hidden successfully once (a show -> hide cycle), but subsequent attempts to show -> hide the content do not work, generating an error in the console:

#### Steps to Reproduce

[This playground](https://developer.salesforce.com/docs/component-library/tools

[2019-07-13 00:10] caridy commented on #1409
@CommanderQ first of all, my dream is to get all reported issue with the level of this one, this is a great repro case. As for the bug itself, I believe this is not longer a case with master branch, but we will have to validate that. @jodarove can you take this one?

[2019-07-16 05:36] CommanderQ commented on #1409
Woo hoo! 😄 I'm even happier that it's an issue that's likely already fixed - thank you @caridy !

[2019-07-16 14:05] caridy commented on #1409
@jodarove and I will be validating this today.

[2019-07-16 19:39] Blue-Hoopoe opened #1416 "Animations are being overridden in Salesforce org"
### Description
When defining two LWC inisde a Salesforce org that are defining two CSS animations with the same name, one is always overridden by other. This is because `<style>` tags for both components are being placed in the same (global) scope.

#### Steps to Reproduce

1. Log in to Salesforce org.
2. Create an Lightning Application (Aura).
3. Create two independent LWC components with the sa

[2019-07-16 21:33] jodarove commented on #1409
Hi @CommanderQ just verified that your repro steps are already fixed in the master branch. Thanks for reporting this issue!

[2019-07-16 21:33] #1409 closed

[2019-07-16 22:26] caridy commented on #1416
@Blue-Hoopoe thanks for the report. This issue was fixed a while ago, via https://github.com/salesforce/lwc/pull/1042, and should be landing via salesforce platform soon.

[2019-07-16 22:26] #1416 closed

[2019-07-17 19:40] Renji-XD opened #1418 "platformResourceLoader appends scripts multiple times"
### Description
I guess it is not the right repo - but i think we don`t have any platform / lockerservice one do we?

When loading e. g. a Static Resource via platformResourceLoader the handling of already existing script tags for the same url does not work. The check is done against the src attribute while it seeems that Lockerservice actually uses a data attribute and don`t assign or remove the

[2019-07-18 02:07] davewallace opened #1420 "IE11 performance impact documentation"
**Is your feature request related to a problem? Please describe.**
Feature request is related to IE11 performance, which is known to degrade with LWC.

**Describe the solution you'd like**
Doesn't have to be complicated, but details about how LWC is built or underlying technologies affecting performance negatively in IE11 would be great. This feature request isn't intended as a fix for anything, o

[2019-07-18 02:34] caridy commented on #1420
cc @pmdartus @jbleyleSF @diervo

At the very least, we can surface the RFC for compat mode (it is somewhat distributed in different docs, we can put them together to explain how it works).

At some point we enabled the perf analysis per commit for IE11, but it was not good enough, too many variations, but maybe we can show a table with the degrading magnitud for our benchmarks, maybe running that

[2019-07-18 02:42] davewallace commented on #1420
This would be fantastic, thank you for considering.

[2019-07-18 16:22] diervo commented on #1420
We have a lot of docs in the es5-proxy-compat repo, but @pmdartus and I never finish the work to open source and finish the docs :)

[2019-07-19 01:49] Gr8Gatsby commented on #1418
@jfparadis this issue isn't in the right repo, but wondering if you have seen this issue?

[2019-07-19 15:56] ghost opened #1421 "IE11: Exception raised when attempting to read 'tabIndex' of an 'svg' or 'use' node"
### Description

In IE11, when attempting to read the `tabIndex` property of an `svg` or `use` node, an exception is raised.

#### Steps to Reproduce
`this.template.querySelector('svg').tabIndex` (or `'use'`) throws a descriptor is null exception in
[code]

#### Expected Results
No error is thrown

#### Actual Results
An error is thrown (`descriptor` is `null`)

### Browsers Affected
Only IE11

##

[2019-07-19 16:37] mattgoldspink commented on #1409
@caridy We just hit this in our LWC's in orgs. Do you know when this will Salesforce orgs?

[2019-07-19 16:54] caridy commented on #1409
I believe it will be there soon. @Gr8Gatsby can you provide a timeline for this? @jodarove can you confirm that this fix is in patch?

[2019-07-19 22:14] sfdciuie opened #1422 "IE11: a non tabbable div tabIndex is returned as 0"
### Description

Querying a div's tabIndex in IE11 results in a value of 0 (even if it's non tabbable/focusable)

#### Steps to Reproduce

[code]
[code]
#### Expected Results
`tabIndex` property should return `-1` for non tabbable elements

#### Actual Results
`tabIndex` property is `0`

### Browsers Affected
IE11 Only

### Version
- LWC: 1.0.2

[2019-07-20 01:33] caridy commented on #1421
I believe this is fixed on master (1.1), and it will be more tricky to fix in 1.0.x, we should confirm. /cc @ekashida

[2019-07-20 05:58] lpomerleau commented on #1357
This change, which updated the `BaseLightningElement` event name/type validation to throw an error rather than a warning, essentially disables the `WireContextEvent` mechanism:

https://github.com/salesforce/lwc/pull/1193/files#r280001098

Can it be changed back into a warning until the `WireContextEvent` code is officially removed? Or is it preferred that consumers stick with an older version of

[2019-07-22 22:26] #1366 closed

[2019-07-22 22:34] ravijayaramappa opened #1427 "Cache native WeakMap, WeakSet, Map and Set methods in shared/language"
### Description
Cache prototype methods from the following interfaces and make them reusable from shared/language

Map: https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Map
Set: https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Set
WeakMap: https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/WeakMap
WeakSet

[2019-07-23 01:28] ekashida commented on #1422
This is just an IE11 quirk and not an LWC bug. As a side note, we should be looking at the `tabindex` attribute instead of the `tabIndex` property in most cases since the former is not very useful.

[2019-07-23 01:28] #1422 closed

[2019-07-23 11:53] JAertgeerts opened #1429 "WireAdapters Support for v45 newly introduced objects"
**Is your feature request related to a problem? Please describe.**
WireAdapters such as getObjectInfo and getPicklistValues do not support newly introduced objects for Health Cloud (https://releasenotes.docs.salesforce.com/en-us/summer19/release-notes/rn_health_new_objects.htm)

**Describe the solution you'd like**
Support new objects release by release.

**Describe alternatives you've considered*

[2019-07-23 15:51] caridy commented on #1429
@JAertgeerts this is the wrong channel for specific wire adapters, but we can probably get @davidturissini or @kevinv11n to re-route this to the proper channel.

[2019-07-23 15:51] #1429 closed

[2019-07-23 15:51] caridy commented on #1429
also @Gr8Gatsby can help.

[2019-07-24 04:52] Gr8Gatsby commented on #1429
I'm following up, stay tuned.

[2019-07-25 21:37] caridy commented on #1409
@jodarove can you confirm that this was cherry picked?

[2019-07-31 23:25] rtm commented on #1346
@diervo I'm curious why you would structure a solution as "CSS-only components"--presumably meaning they would live in their own directory, and have meta data as well, and be imported via the non-standard `c/fooStyle` style. Why not just let people import CSS files somewhere in their tree?

I love constructible stylesheets as a concept and an optimization, but I don't *need* them--I just need a sh

[2019-07-31 23:33] diervo commented on #1346
In LWC we are opinionated on the default folder structure for modules. CSS only components is so you can trivially create your own CSS shareable modules within the standard LWC structure.

However, if you really want to, you can certainly create CSS anywhere (even from npm packages), but you have to tell the module system how to find your modules. If you are interested, take a look at this: https:

[2019-08-01 01:31] StephenTangCook opened #1433 "Prevent usage of non-camelCase @api property names"
### Description
Currently there is nothing preventing an LWC author from using a capitalized (non-camelCase) name for an `@api` property. While this works on the component itself, any parent component would not be able to set the value for this property, since we cannot disambiguate the capitalized attribute in the HTML. Thus we should not allow this in the first place.

#### Steps to Reproduce
1.

[2019-08-01 14:05] midzelis opened #1434 "resolveLwcNpmModules's ignorePatterns is not applied to resolveModulesInDir"
### Description
ignorePatterns is only applied to the search for lwc configs, but not the lwc config itself.

#### Steps to Reproduce
[code]

https://developer.salesforce.com/docs/component-library/tools/playground

[code]

#### Expected Results

A list without __examples__

#### Actual Results

A list that contains __examples__

### Browsers Affected

### Version

- LWC: 1.0.1

**Possible Solutio

[2019-08-01 14:08] caridy commented on #1346
Notice that the CSS only modules are only importable right now from a css file.. until the spec for css modules is cleared up, then we will support importing them in JS to be added to the adoptedStyleSheet, it will take a while.

[2019-08-01 16:19] rtm commented on #1346
@caridy So CSS-only modules work now, or are they "in the process of being enabled"? I don't see anything about this in the docs though.

[2019-08-01 16:24] rtm commented on #1346
@diervo Thanks for your reply. Don't mean to take this off-topic, but I am all in favor of opinionated solutions but when I understand the reasons for the opinion, which I don't here. Also, this seems to go a bit beyond being opinionated to changing well-known, industry-wide semantics for module resolution in a way which makes development less convenient. If this had something to do with the SF se

[2019-08-01 16:30] caridy commented on #1346
It is available in 1.0.3 from NPM (soon to be latest). In platform, it will take longer, platform is usually behind OSS for few months.

[2019-08-01 16:38] caridy commented on #1346
@rtm the folder structure is one of those things that we struggled a lot when designing LWC, mostly because of the constrains of the existing platform (components stored in DB). In fact, that folder structure that you are attempting to use was almost identical to the first implementation in LWC, which we ended up changing to stay within the boundaries of the platform to support easy portability fr

[2019-08-01 18:23] k-j-kim opened #1435 "Child components are not calling disconnectedCallback for custom render()"
### Description

When passing in custom template containing child components to the container component's `render()`, child components are not calling `disconnectedCallback`.

### Version

- LWC: 1.0.2

[2019-08-01 18:34] k-j-kim commented on #1435
FYI @caridy!

[2019-08-01 18:34] caridy commented on #1435
After some preliminary investigation, it is clear that we are invoking `clearChildLWC()` abstract operation too early during the re-rendering process. It happens that in the case of re-rendering the same template, the individual elements that are removed will take care of calling disconnectedCallback, but when switching templates, the entire content is wiped out, and there is no way for the render

[2019-08-01 18:35] caridy commented on #1435
Also, I think our safety nets are not testing the case of replacing a template with a new template when using custom elements that must report the disconnection... seems very edge case.

[2019-08-02 12:14] JAertgeerts commented on #1429
@Gr8Gatsby any news on this?

[2019-08-03 00:34] jonathanau commented on #1429
@JAertgeerts - Thank you for your inquiry. When using a wire adapter from a `lightning/ui*Api` module, the wire adapter can only access objects supported by UI API. Because the Health Cloud objects have not been enabled for UI API, you will not be able to use them with wire adapters such as `getObjectInfo` and `getPicklistValues`.

More information on this limitation, as well as a link to the list

[2019-08-03 18:25] JAertgeerts commented on #1429
Thanks @johathanau, the ask remains the same - how do we get them supported every release? Is this something you can raise with the UI API team?

[2019-08-03 19:03] jonathanau commented on #1429
On the UI API team, we are exploring the possibility of enforcing an internal policy where every new standard object must be enabled for UI API access. Additionally, we will be working on getting commonly used objects enabled for UI API.

At this time, we don't have an ETA for when we will complete the efforts mentioned above.

[2019-08-07 22:30] dahnielkim commented on #1367
Are there any updates to this issue? We are running into a similar issue with other tagNames like `animateTransform` if it's embedded inside of a svg tag.

[2019-08-08 00:27] diervo commented on #1367
So we have a forked version of parse5 so we can technically add some of this there.
We are waiting for a report from the security team making sure we are whitelisting all the dangerous ones, I hope we can add those two soon.

[2019-08-12 01:53] caridy commented on #262
@diervo now with the new `lwc` pkg, and the new build per pkg, is this still an issue?

[2019-08-12 01:57] caridy commented on #264
this will be solved by https://github.com/salesforce/lwc/pull/1417

[2019-08-12 01:57] caridy commented on #70
This will partially solved by https://github.com/salesforce/lwc/pull/1417

[2019-08-12 02:03] caridy commented on #512
@ravijayaramappa this one could be solved by #1431

[2019-08-12 02:04] caridy commented on #514
@ekashida can you confirm that his is now done?

[2019-08-12 02:05] caridy commented on #518
@ekashida can you confirm that this error is now removed and this can be closed?

[2019-08-12 02:06] caridy commented on #523
@diervo I think the work you did solved most of the problems here. Can you confirm and close this? @ekashida can you also confirm?

[2019-08-12 02:07] caridy commented on #607
This is now in place. All `@lwc` packages have the `types/` folder.

[2019-08-12 02:07] #607 closed

[2019-08-12 02:15] caridy commented on #503
@apapko I don't think this is needed anymore... can you confirm?

[2019-08-12 02:18] caridy commented on #457
we should probably drop this since it is only dev-mode, and instance level restrictions seems fine. Does anyone has any comments here?

[2019-08-12 02:20] caridy commented on #456
This is not longer on the engine, but on the synthetic shadow root polyfill.

[2019-08-12 02:20] #456 closed

[2019-08-12 13:01] #869 closed

[2019-08-12 13:02] caridy commented on #873
@ravijayaramappa can you close this?

[2019-08-12 13:44] caridy commented on #928
We have abandoned this approach for the time being as far as I can tell. But time will tell once we implement the in-house SSR.

[2019-08-12 13:44] caridy commented on #948
The proposal is to eliminate the services entirely, which means this issue will become irrelevant, keeping it open until we do so.

[2019-08-12 13:45] caridy commented on #951
this is now gone.

[2019-08-12 13:45] #951 closed

[2019-08-12 13:46] caridy commented on #971
@ravijayaramappa I think this is covered by the mutation observer on portal elements, can you close this?

[2019-08-12 13:51] caridy commented on #977
this was fixed when creating the synthetic-shadow pkg.

[2019-08-12 13:51] #977 closed

[2019-08-12 13:52] caridy commented on #987
@ravijayaramappa I think you were working on the polyfill for `isConnected` as part of the node-reactions. Can you confirm, and get this one fixed?

[2019-08-12 13:53] caridy commented on #991
validated.

[2019-08-12 13:53] #991 closed

[2019-08-12 13:59] caridy commented on #987
this is in fact a duplicate of https://github.com/salesforce/lwc/issues/1029, which shows the polyfill code as well.

[2019-08-12 13:59] #987 closed

[2019-08-12 13:59] caridy commented on #1029
@ravijayaramappa this is the one to be fixed alongside the node-reactions.

[2019-08-12 14:10] caridy commented on #1043
I think this is now solved, but we will have to validate it and re-enable those tests.

[2019-08-12 14:11] kevinv11n commented on #264
Fixed by #767

[2019-08-12 14:11] #264 closed

[2019-08-12 14:11] caridy commented on #1059
@ravijayaramappa I think this is now fixed, but should be validated.

[2019-08-12 14:12] caridy commented on #1065
I believe this is now fixed, but we should validate it.

[2019-08-12 14:13] #1067 closed

[2019-08-12 14:14] caridy commented on #1089
@ekashida can you close this?

[2019-08-12 14:14] caridy commented on #1102
@ravijayaramappa this should be part of the node-reactions fixes.

[2019-08-12 14:15] caridy commented on #1128
https://github.com/salesforce/lwc-rfcs/blob/master/text/0000-context-service.md covered this one.

[2019-08-12 14:15] #1128 closed

[2019-08-12 14:18] caridy commented on #1129
I believe this is fixed now in synthetic-shadow.

@pmdartus can you confirm? in fact, your PR https://github.com/salesforce/lwc/pull/1114 references to many bugs, that they were not merged when that PR was merged, not sure if that was intentionally or not, can you help?

[2019-08-12 14:19] caridy commented on #1132
@ravijayaramappa I think you fixed this.

[2019-08-12 14:19] caridy commented on #1141
This should be fixed by now. @pmdartus you can validate and close?

[2019-08-12 14:24] caridy commented on #1178
@Gr8Gatsby can you double check the numbers for safari, to see if we can remove this polyfill now? @pmdartus can you validate that we are good on this one?

[2019-08-12 14:24] #1217 closed

[2019-08-12 14:24] caridy commented on #1218
@muenzpraeger can you double check on 1.x? I think this is gone now.

[2019-08-12 14:25] caridy commented on #1231
this is not longer an issue because we don't use syntehtic shadow with jsdom anymore. These APIs are now patched correctly.

[2019-08-12 14:25] #1231 closed

[2019-08-12 14:26] caridy commented on #1258
@ekashida I think we have decided to remove this error... can you confirm and close?

[2019-08-12 14:27] caridy commented on #1160
@ravijayaramappa can you validate this?

[2019-08-12 16:22] ravijayaramappa commented on #1160
Yes, this is the same behavior as native shadow. Here's a snippet to test the same behavior in native shadow.
[code]

[2019-08-12 16:22] #1160 closed

[2019-08-12 17:17] ravijayaramappa commented on #1059
@caridy Still see the issue in @lwc/engine v1.0.3

[2019-08-12 17:21] muenzpraeger commented on #1218
1.0.x or 1.x @caridy? From the latter is no version published yet.

[2019-08-12 18:20] ravijayaramappa commented on #971
Yea, moving the polyfill to global patch has fixed this issue.
https://playground.lwcjs.org/projects/S3BQ53clR/4/edit

[2019-08-12 18:20] #971 closed

[2019-08-12 18:49] #873 closed

[2019-08-12 18:50] ravijayaramappa commented on #873
Verified that [shadow token](https://github.com/salesforce/lwc/blob/master/packages/@lwc/synthetic-shadow/src/faux-shadow/shadow-token.ts#L15-L17) is set only once per node.

[2019-08-12 19:48] caridy commented on #1218
try 1.0.2

[2019-08-12 20:00] diervo commented on #262
Not sure, let me check once we do the release of 1.1

[2019-08-12 23:44] jodarove opened #1447 "[test git2gus] Mock Issue"
### Description

This is a test issue from lwc

[2019-08-13 02:36] #1370 closed

[2019-08-13 05:12] #1447 closed

[2019-08-14 03:52] ekashida commented on #514
@caridy From what I can tell, this issue is to track the `lwc:dom="manual"` feature, which has already been implemented. I think you commented above that we should keep this issue open until we convert all the error logging into actual exceptions.

[2019-08-14 04:52] ekashida commented on #518
@caridy I believe this issue is about potentially adding an error message to warn the user that the first/last child might not be what they have in their template.

[2019-08-14 05:16] ekashida commented on #1089
Confirmed that this error log was removed.

[2019-08-14 05:16] #1089 closed

[2019-08-14 05:21] ekashida commented on #1258
@caridy iirc we removed the error because it was logging too many false-positives and we created this issue because we thought that it would be possible to improve its accuracy.

[2019-08-14 19:19] caridy commented on #518
yes, but we realized that this is not very important because they should just simply not rely on that ever.

[2019-08-14 19:20] caridy commented on #1258
ah, that's right.... let's keep this one.

[2019-08-14 20:22] ekashida commented on #518
Given that I don't think any error was ever implemented (after checking 220) I'm closing this issue.

[2019-08-14 20:22] #518 closed

[2019-08-15 03:59] Gr8Gatsby commented on #1178
95.5% of Safari users are 11 or higher (12).

[2019-08-16 18:50] jmpisson opened #1452 "Unexpected Component Lifecycle on LWC OSS in native Shadow DOM mode"
### Description
In native shadow DOM mode, the component lifecycle of slot content and the slot receiver is not running in the sequence expected.

#### Steps to Reproduce
Considering my-app as the Root Component inside LWC project, we have two components, Parent and Child, in the app markup:

my/app/app.html
[code]

my/parent/parent.html
[code]

my/parent/parent.js
[code]

my/child/child.html
[cod

[2019-08-16 20:32] ravijayaramappa opened #1453 "[synthetic-shadow]Node.removeChild should respect shadow semantics in synthetic mode"
### Description
Node.removeChild should be patched to respect shadow dom semantics when running synthetic-shadow mode.
Elements in shadow tree cannot be removed by calling removeChild on the host element. But in synthetic-shadow mode, we allow it.

#### Steps to Reproduce

https://playground.lwcjs.org/projects/ZmlopyMZI/3/edit

#### Expected Results

<img width="1453" alt="Screen Shot 2019-08-16 a

[2019-08-16 23:22] briannabrownOE opened #1454 "@Babel/preset-env included in SFDX project"
**Is your feature request related to a problem? Please describe.**
I would really like to use some of the new javascript language features.

**Describe the solution you'd like**
Is it possible to include the `@babel/preset-env` plugin in my local sfdx project?

**Describe alternatives you've considered**
Having to live with an older javascript specification.

**Additional context**
Thanks for your

[2019-08-17 00:20] diervo commented on #1454
Hi Brianna, which features are you looking for? I believe we support ES2018 so want to make sure is nothing we missed that should be there.

In case that what you are looking for are features that are not yet in Stage 4 (or are not fully supported in all browsers) we won't support them natively in the platform.

However you can certainly run babel yourself to transpile the features you want, and p

[2019-08-17 00:25] rtm commented on #1454
Could you elaborate on "can't support TS due to future breaking changes"?

On Fri, Aug 16, 2019 at 5:20 PM Diego Ferreiro Val <notifications@github.com>
wrote:

[2019-08-17 00:48] diervo commented on #1454
Let me be clear that this is a Salesforce platform restriction, not an OpenSource one, you can do whatever build steps and use whatever superset of JS you want in LWC OSS. This issue was filed in relationship with SFDX which is a Salesforce Platform specific question.

To clarify your question: Typescript team will not guarantee (not for us, not ever) that they will not introduce breaking changes

[2019-08-19 02:57] jordanhenderson commented on #1418
This also has issues with the Salesforce Mobile app. Any static resource CSS appended with loadStyles causes an impact to other pages utilising a webview (ie. report dashboards).

[2019-08-19 05:02] muenzpraeger commented on #1218
It's fixed in the current `1.0.2.x` as well as `1.1.0-alpha`. Only the `js-yaml` dependencies are throwing warnings now.

[2019-08-19 16:32] caridy commented on #1418
Ok, I finally get a chance to look at this in details. Few things:

* `loadScript` helper is equivalent to trying to insert a script tag.
* it is the responsibility of the caller to control when to load it, and to memoize it if needed.
* what if the intent is to load it multiple times?

I don't think we will be able to add the memoization on this API, unless we extend the current API to allow you

[2019-08-19 16:33] #1218 closed

[2019-08-19 16:37] mattgoldspink commented on #1418
@caridy We've also assumed this was a bug. If it isn't it'd be great to add this behaviour explicitly to the docs and perhaps provide a snippet of code to use to memoize it across components for people to copy. I think it's a common requirement to have it load only once. At least from our usage, we're yet to hit a use case where we want to load a JS or CSS multiple times.

[2019-08-19 21:35] saoirse-zee commented on #1367
Running into the same issue with svg tags like `feGaussianBlur`. Thanks for your work on this!

[2019-08-20 03:02] caridy commented on #1418
sure thing @mattgoldspink, this falls into the lightning namespace bucket since it is their library, but I will route this to them. Eventually they could share the code... so you can see it... copy, and create your own lib, it is very tiny piece of code btw, and it works with locker without any modifications I believe. /cc @gonzalocordero @garazi

[2019-08-20 12:48] tedconn commented on #1435
@ravijayaramappa can we mark this as fixed?

[2019-08-20 15:06] #1435 closed

[2019-08-20 19:45] briannabrownOE commented on #1454
Thank you so much for the quick and detailed response @diervo. Please see below my response to your comments.

Here's a few of the features we are using in other projects we'd love to pull into this one.

* **[Pipeline Operator](https://babeljs.io/blog/2019/07/03/7.5.0#f-pipeline-operator-9450-https-githubcom-babel-babel-pull-9450-and-9984-https-githubcom-babel-babel-pull-9984)**
* **[Static Priva

[2019-08-20 21:11] caridy commented on #1454
@briannabrownOE:

None of them are stage 4:

* pipeline operator is stage 1: https://github.com/tc39/proposals/blob/master/stage-1-proposals.md
* static private methods is stage 3: https://github.com/tc39/proposals
* partial application is stage 1 as well: https://github.com/tc39/proposals/blob/master/stage-1-proposals.md

[2019-08-20 21:30] apapko commented on #503
Yes, this can be closed now.

[2019-08-20 21:30] #503 closed

[2019-08-20 21:53] briannabrownOE commented on #1454
@caridy thanks for the clarification. These are features our team is currently using, I hadn't realized they had not reached stage 4 as of yet. Thanks for bearing with me as I'm still learning about the world of TC39.

[2019-08-21 14:35] pmdartus opened #1458 "wire-service doesn't support listener removal during invocation"
### Description

The `@lwc/wire-service` throws an unexpected error when a listener attempt to unregister itself when it is invoked.

#### Steps to Reproduce

[code]

In order to reproduce the issue, the same wire adapter should be used by 2 different components at the same time.

#### Observations

The [`invokeListener`](https://github.com/salesforce/lwc/blob/master/packages/@lwc/wire-service/src

[2019-08-21 16:20] caridy commented on #1458
I can take care of this as part of the wire reform.

[2019-08-22 11:31] srujan21 opened #1466 "command 'sdx.force.project.create' not found"
### Description
Couldn't able to create new Project via Visual Studio
#### Steps to Reproduce
Open Visual Studio
Ctrl+Shift+P
SFDX: Create Project

Error : command 'sdx.force.project.create' not found

[2019-08-22 15:55] Gr8Gatsby commented on #1466
This issue needs to go into:
https://github.com/forcedotcom/sfdx-core/issues

@ntotten can you help get this into the correct place?

[2019-08-22 15:55] #1466 closed

[2019-08-22 16:15] yungcheng opened #1467 "Create a package for language abstractions"
**Is your feature request related to a problem? Please describe.**
LWC has multiple modules abstracting out parts of JavaScript language for performance, compatibility, and security reasons. See examples [here](https://github.com/salesforce/lwc/blob/master/packages/@lwc/synthetic-shadow/src/shared/language.ts) and [here](https://github.com/salesforce/lwc/blob/master/packages/@lwc/engine/src/shared

[2019-08-22 23:48] briannabrownOE opened #1469 "Passing attributes from Aura component to LWC"
**Is your feature request related to a problem? Please describe.**
The auraEmbeddedLWC example from the `lwc-recipes` app provides a clear example for how to pass variables from a child LWC to a parent Aura cmp. However, I've found it difficult to find any examples of how to traverse the relationship from parent Aura cmp to child LWC. I was able to find a bit of a clue from the below note on the `

[2019-08-23 04:10] jinlii opened #1470 "drag-n-drop library is not working in lwc, but in aura."
I'm using dragula library for drag-n-drop. It works in the aura component,
[code]

but not in lwc.

    example.html:
[code]
example.js
[code]
containers is an empty proxy. How can I get the dom elements? Thanks in advance.

[2019-08-23 08:08] pmdartus commented on #1469
Moved the issue to https://github.com/trailheadapps/lwc-recipes/issues/125

[2019-08-23 08:08] #1469 closed

[2019-08-23 15:50] caridy commented on #1470
That is a problem with dragula library that it doesn't recognize shadow dom encapsulation. This is a library that we use internally for many things, so, this is not news for us. First the bad news, dragula hasn't been updated in more than 3 years, I don't think it is currently maintained, but the good news is that there is a PR open on the repo that works pretty well: https://github.com/bevacqua/d

[2019-08-23 15:50] #1470 closed

[2019-08-23 16:22] miteshmsharma opened #1474 "Wrapper component for Maps"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
I am frustrated when to show a map related component I have to call Google map API or use map anything as an offering from sfdc.
**Describe the solution you'd like**
A clear and concise description of what you want to happen.
I would like t

[2019-08-23 17:24] caridy commented on #1474
This is a request for lightning components team most likely. cc @garazi @gonzalocordero

[2019-08-23 17:24] #1474 closed

[2019-08-23 19:27] jaan commented on #1350
We learnt this hard way. This is problematic in certain cases because whenever we use `lwc:dom=manual` and some complex svg's(via d3) inside it with id's, it fails when multiple instances of components are used.
I think we need a better documentation for `lwc:dom=manual` which conveys that developers are on their own to create unique id's with hash to avoid this pitfall.

[2019-08-23 21:30] caridy commented on #1350
cc @jbleyleSF to see if we can improve the docs.

[2019-08-24 01:50] caridy commented on #1452
cc @jodarove can you take a look at this?

[2019-08-24 01:59] caridy commented on #1452
@jmpisson there might be something going on here... let me loop in @ravijayaramappa who is working on this area at the moment. There are a couple of things:

* the virtual dom library does some optimizations when appending elements, usually works from bottom to top.
* the rendered phase is something that we, the LWC engine, will control, we can decide to do render on connect, or render on the micr

[2019-08-26 11:09] miteshmsharma opened #1475 "Issue with the typescript when > Yarn build"
### Description
I am not able to get the LWC project build.
#### Steps to Reproduce
Following along the Contribution document - https://github.com/salesforce/lwc/blob/master/CONTRIBUTING.md
Got stuck with following error -
$ yarn build
yarn run v1.17.3
$ lerna run build --ignore perf-benchmarks --ignore integration-tests
lerna notice cli v3.16.4
lerna info filter [ '!perf-benchmarks', '!integratio

[2019-08-26 11:30] pmdartus commented on #1475
What is your version of node?

[2019-08-26 12:42] miteshmsharma commented on #1475
Versions
NPM -  10.14.2
Yarn - 1.17.3

[2019-08-26 13:07] pmdartus commented on #1475
I wasn't able to reproduce the issues when cloning a fresh new repo. Here are the commands I am using locally:

[code]

Maybe I am not able to reproduce it because of the OS. What is your OS, and the OS version?

[2019-08-26 13:10] miteshmsharma commented on #1475
I am on windows 7 home.

[2019-08-26 13:41] pmdartus commented on #1475
I was able to file name length issue on windows 7, this is because until Window 10 the filename length was restricted to 256 characters. Have you tried on a recent version of Windows?

[2019-08-26 13:53] miteshmsharma commented on #1475
The file length issue I have not tried on other window version but if you are aware of this issue and the suggested work around is to use win 10 I will definitely give it a try. Please let me know if the issue with message.ts and error code ts2741 is also related to os?

[2019-08-27 01:04] ravijayaramappa opened #1476 "lifecycle callbacks not called when items shuffled in a for:each"
### Description
When existing items in a for:each template are shuffled, the lifecyle callbacks for the shuffled item are not invoked.

#### Steps to Reproduce
Parent:
[code]
[code]
Child:
[code]

https://playground.lwcjs.org/projects/IgzSpJYce/8/edit

Compare that with the behavior of native web components here: https://jsbin.com/qusetar/1/edit?html,js,output

#### Expected Results
[code]

#### A

[2019-08-27 09:55] pmdartus commented on #1475
I tried to reproduce the typescript issue again today without any success. Let me know if you face the same issue on Windows 10.

[2019-08-30 06:36] rtm commented on #427
I know very little about your internal architectures, so am unable to say anything intelligent on this topic other than yes, we need to be able to call regular-old WCs from within LWCs, and no, I would prefer not to have to pre-process them, or wrap them, or declare them somehow.

I don't even understand what the template compiler does. So I also don't understand why it needs to "resolve" anything

[2019-08-30 11:55] pozil opened #1483 "Compile error on self closing void elements"
### Description
When compiling code that contains a self closing void element such as `<hr/>`, the compiler will throw an error.

#### Steps to Reproduce
Build a component with this template:
[code]

https://developer.salesforce.com/docs/component-library/tools/playground/rE1bVtKyj/1/edit

#### Expected Results
This compiles without error.

#### Actual Results
Compiler throws:
[code]

Note that th

[2019-08-30 12:21] muenzpraeger commented on #1483
It's a Prettier error.

From the [spec](https://developer.mozilla.org/en-US/docs/Web/HTML/Element/hr).

`It must have start tag, but must not have an end tag.`

[2019-08-30 12:27] pozil commented on #1483
@muenzpraeger this is Mozilla documentation, not the spec.
This doc is wrong. The single source of truth is the [WHATWG spec](https://html.spec.whatwg.org/multipage/parsing.html#parse-error-non-void-html-element-start-tag-with-trailing-solidus) is what matters.

As linked in the compiler error:

and in the notes:

[2019-08-30 12:33] muenzpraeger commented on #1483
And for `hr` it says `No end tag`. ;-)

https://html.spec.whatwg.org/multipage/grouping-content.html#the-hr-element

[2019-08-30 12:37] muenzpraeger commented on #1483
I guess @diervo can judge best. He built the parser.

https://www.npmjs.com/package/parse5-with-errors

[2019-08-30 15:21] 32bitkid opened #1484 "Compile error when using <data value="> element within template."
### Description

The `<data>` element does not appear to be properly supported. It appears that the parser is [_aware_](https://github.com/salesforce/lwc/blob/v1.0.3/packages/@lwc/template-compiler/src/parser/utils/html-element-attributes.ts#L133) that the `<data>` element has a `value` attribute, but it throws a compile error every time I try to use it.

#### Steps to Reproduce

https://developer

[2019-08-30 15:31] pozil commented on #1483
Adding [HTML element general spec](https://html.spec.whatwg.org/multipage/syntax.html#start-tags) for reference:

[2019-08-30 15:39] pozil commented on #1483
By the way, the `No end tag` info is  "A non-normative description" as per [Tag omission in text/html](https://html.spec.whatwg.org/multipage/dom.html#concept-element-tag-omission) link.

[2019-08-30 15:54] caridy commented on #1483
We rely on parse5 to parse the HTML files, that's why it is hard for us to fix this kind of issues.

[2019-08-30 15:58] caridy commented on #1484
Hmm, this is suspicious! Indeed it is defined well in our code https://github.com/salesforce/lwc/blob/master/packages/@lwc/template-compiler/src/parser/utils/html-element-attributes.ts#L133, but for some reason it is failing.

@apapko @jodarove can you take a look?

[2019-08-30 16:46] apapko commented on #1484
I'm unable to reproduce this issue with the latest lwc version (locally).
@caridy, the internal playground yields a successful compilation as well, even when with lwc 1.0.0.

[2019-08-30 16:54] apapko commented on #1484
@midzelis, any clues why the public playground would produce a different result?

[2019-08-31 02:25] #1299 closed

[2019-09-03 10:07] pozil commented on #1483
Should anyone run into this issue where Prettier automatically adds a self-closing solidus`/`  character, the workaround is to manually exclude the problematic template file from Prettier processing.
To do that, add the path to the template file to a `.prettierignore` file at the root of the project.

[2019-09-03 20:18] jinlii opened #1488 "lightning-combobox does not work in custom lightning-datatable"
custom class
export default class TestDataTable extends LightningDatatable { }

custom template :
[code]
The template shows the dropdown correctly in a standalone component. But when included in the column template for the column in TestDataTable, it only shows the selection. When you click on the dropdown, nothing happens. The picklist values however are in the DOM when you inspect.

Is this a kn

[2019-09-03 21:22] caridy commented on #1488
This is probably on the lightning global components, not on LWC directly. cc @garazi @reiniergs

[2019-09-05 07:41] pozil commented on #1483
Adding @pmdartus to the conversation since he 'owns' our private [parse5-with-errors](https://git.soma.salesforce.com/p-dartus/parse5-with-errors) fork of [parse5](https://github.com/inikulin/parse5).

@caridy I looked into parse5 and I believe (correct me if I'm wrong) that we introduced the error in parse5-with-errors. The current public version of parse5 is ok with self closing void elements.

[2019-09-05 15:23] caridy commented on #243
If we are going to lift the restriction of mutations of fields during rendering, we should make sure that we implement this, otherwise something like: `<template>{cacheCounter}:{cacheCounter}</template>` might output something like `"1:2"` instead of `"1:1"`, without the momoization process.

[2019-09-05 16:15] caridy commented on #1483
@pozil yes yes yes! go for it.

[2019-09-06 09:20] pozil commented on #1483
@pmdartus @caridy please review `p-dartus/parse5-with-errors/pull/2` (I can't assign reviewers).

[2019-09-06 19:05] diervo commented on #1483
We should certainly move that package from Pierre account xD

[2019-09-07 03:22] Gr8Gatsby opened #1497 "Compiler requires HTML template for JavaScript only module that exports a default Class"
### Description
I built an LWC Open Source component that just exports a default class to help with a Tree data structure, however, the compiler wanted me to have an HTML template.

#### Steps to Reproduce

Clone this repo:
Remove HTML from: https://github.com/Gr8Gatsby/orgchart/blob/master/src/modules/my/tree/tree.html
Run `yarn watch`

Code is here:
https://github.com/Gr8Gatsby/orgchart/blob/mas

[2019-09-07 03:32] davidturissini commented on #1497
Curious, why are you including this with your modules? It seems that this code could go outside of LWC folder or you could do a named export

[2019-09-09 05:06] Gr8Gatsby commented on #1497
Fair point! Had I had my wits about me I would have just done a named import, and likely I wouldn't have hit this.

Regardless I still think that this behavior is a bug.

Seems like the only rule around having a template should be if we are extending the LightingElement.

[2019-09-09 18:51] joeythomaschaske opened #1499 "lightning-input percent formatter misleading"
### Description
When using step with a value < 1 in conjunction with a percent formatter, the displayed value shows too many 0's at the end.

#### Steps to Reproduce
https://developer.salesforce.com/docs/component-library/tools/playground/ccS-81_hE/2/edit

#### Expected Results
onblur, the value should show 17.25% instead of 17.2500%. This is misleading and looks like the user can enter a number s

[2019-09-09 22:39] ravijayaramappa commented on #977
@caridy We still have the same forking logic for children getter in the synthetic-shadow pkg(https://github.com/salesforce/lwc/blob/master/packages/@lwc/synthetic-shadow/src/faux-shadow/element.ts#L201-L203). Now that jest has been moved off to synthetic shadow, can we remove that snippet from element.ts?
[code]

[2019-09-09 23:24] ravijayaramappa commented on #1141
GUS work item: W-5983905

[2019-09-10 00:49] ravijayaramappa commented on #1139
GUS work item: W-5983676

[2019-09-10 00:50] ravijayaramappa commented on #1138
GUS work item: W-5983653

[2019-09-10 00:51] ravijayaramappa commented on #1118
GUS work item: W-6025676

[2019-09-10 00:55] ravijayaramappa commented on #1239
GUS work item: W-6157832

[2019-09-10 02:25] caridy commented on #977
yes @ravijayaramappa that's dead code... let's remove it. please, check if there is anything else for test env.

[2019-09-10 04:35] caridy commented on #1483
approved! if @apapko is good with it, we can move on!

[2019-09-11 22:18] stickel opened #1505 "Add `node.innerText` support for the test framework"
**Is your feature request related to a problem? Please describe.**
LWC can utilize `node.innerText` (https://developer.mozilla.org/en-US/docs/Web/API/HTMLElement/innerText) to get visible content as the visitor would see it. Currently this is unavailable when running tests and a polyfill is required.

**Describe the solution you'd like**
Adding support for `.innerText` or at least having the polyf

[2019-09-12 23:08] ravijayaramappa opened #1506 "engine: Setting tracked properties in disconnectedCallback causes error"
### Description
Setting tracked properties in disconnectedCallback causes error, when the disconnectedCallback is the result of a parent component switching its templates.

#### Steps to Reproduce
https://playground.lwcjs.org/projects/l50NJUIYj/7/edit
[code]

[code]
[code]

[code]
#### Expected Results
Disconnected callback is invoked without errors and new template is rendered

#### Actual Result

[2019-09-13 21:16] caridy opened #1508 "add support for optional chaining in JS and templates"
Add support for new syntax `foo?.bar` in JS
Add support for new syntax `{foo?.bar}` in HTML

Proposal: https://github.com/tc39/proposal-optional-chaining

Current Status: Stage 3

[2019-09-13 21:30] rtm commented on #1508
You are supporting `foo?[bar]` and `foo?()` too, I assume, at least in JS?

[2019-09-14 01:42] caridy commented on #1508
@rtm yes, in JS yes... although that's not the syntax, it is `foo?.[bar]` and `foo?.()` for function calls. you can look at the proposal for more details.

In the template, no, we don't allow function calls or dynamic properties.

[2019-09-14 06:05] jodarove commented on #1497
@Gr8Gatsby this have to do with https://github.com/muenzpraeger/create-lwc-app and the fact that in the project is using the `@lwc/compiler`.

The LWC compiler has 2 modes, implicit/explicit (the option `isExplicitImport`). The compiler compiles the components in "implicit" mode my default. If i remember correctly: a component is either _implicit_ or _explicit_ but never a mix of both. @diervo kno

[2019-09-15 03:58] pmdartus commented on #1505
The implementation of `HTMLElement.innerText` is not implemented in JSDOM because there is no concept of layout (https://github.com/jsdom/jsdom/issues/1245). This is, unfortunately, something that can't be polyfilled.

[2019-09-15 03:58] #1505 closed

[2019-09-16 10:43] rmartinezffdc commented on #1346
Hi all,

We are currently experiencing some issues in the integration of the SLDS css in LWC OSS because of he scoped CSS nature of the shadow HTML. We would need to check the possibility of disabling  Shadow DOM.

As workaround we are also using the constructor of every element to include the SLDS css file by modifying directly the DOM of the template, which is obviously not an optimal solution.

[2019-09-16 11:11] muenzpraeger commented on #1346
If you don’t want to use Shadow DOM you can use the synthetic version (which is the one that runs on the Salesforce platform).

Just add `import '@lwc/synthetic-shadow';` to your `index.js` file.

[2019-09-16 12:52] caridy commented on #1346
@rmartinezffdc we will be working on a referral implementation this week for folks using SLDS in the open, I will make sure that we link the solution to this issue.

[2019-09-17 01:38] ravijayaramappa opened #1511 "event target is not patched when accessed async and original target is manually injected"
### Description
For retaining legacy behavior, the event patching logic had a escape hatch. The escape hatch allows access to the event's original target, even when the target is inside another components shadow tree. This is not honoring the shadow dom rules and must be fixed.

#### Steps to Reproduce
Test added here to show faulty behavior https://github.com/salesforce/lwc/pull/1510

### Version

[2019-09-17 07:16] georges-gomes commented on #1268
Hi!
We are integrating LWC into https://webcomponents.dev as one of the possible compilers.
We really need to have the possibility to output `esm`.
so keeping
[code]
as an option, is really important for us.
🙏 :)

[2019-09-17 10:10] Gr8Gatsby commented on #1268
I'd love to see this integration, @pmdartus what were the objections?

[2019-09-17 11:47] diervo commented on #1268
We can certainly expose that option @georges-gomes. Moreover would love to help your efforts, is there any other issue you are running into that we can help with?

[2019-09-17 12:23] georges-gomes commented on #1268
@diervo thanks for proposing your help
So far so good but we would be happy to get your feedback when it's ready - to confirm we are "state of the art" 👍

[2019-09-17 19:21] caridy commented on #1268
cc @reiniergs

[2019-09-17 22:45] ravijayaramappa opened #1513 "Apply iframe-content-window polyfill only in compat mode"
### Description
Wrapping the iframe-content-window polyfill results in identity discontinuity issues. So the wrapping should be limited to compat mode only, where it is required.

#### Steps to Reproduce
One example of identity discontinuity issue
https://playground.lwcjs.org/projects/Ik9K8AYHu/1/edit

[2019-09-18 00:50] caridy commented on #1458
cc @jodarove we can do this in another PR on wire-service pkg directly.

[2019-09-18 12:50] tedconn opened #1518 "line breaks in text nodes are removed"
### Description

#### Steps to Reproduce

https://developer.salesforce.com/docs/component-library/tools/playground/n4lJ6e_FU/1/edit

#### Expected Results

Line breaks in HTML content should be respected. Look at this fiddle:

https://jsfiddle.net/citizenconn/xbusrc09/

Inspecting the markup in the browser will show you something like this:
[code]
#### Actual Results

Looking at the rendered HTML,

[2019-09-18 16:41] mtetlow opened #1519 "lightning-input type="date" does not open date picker on programmatic focus"
### Description
lightning-input exposes a focus method. When this focus method is called on type="date", the input is focused but the datepicker does not open. It appears the datepicker only opens if you click on the element. My attempts to simulate a click event on the element via `.click()` have also resulted in the datepicker not opening.
#### Steps to Reproduce
Implement a button and a lightni

[2019-09-18 17:20] caridy commented on #1518
This looks like a problem with the transformation after parsing the HTML, or with the parser itself. The compiled code that is relevant to that template is this:

[code]

as you can see, the engine receives a single textNode (via `api_text` api) that contains the crippled text already.

[2019-09-18 17:31] caridy commented on #1519
/cc @ekashida @gonzalocordero

[2019-09-18 19:33] ekashida commented on #1519
@gonzalocordero Since this doesn't seem to be related to focus delegation, I would say that we should first get clarification from UX as to what should happen when the input receives focus since the native date input for Chrome/Firefox does not open its datepicker unless clicked. If they say that they don't want the datepicker to appear on focus, then Base Components should evaluate the programmat

[2019-09-18 20:16] gonzalocordero commented on #1519
@ekashida yep, you read my mind. I'll open an issue on our side so we can follow up on it.

@mtetlow Thank you for bringing this up to our attention!

[2019-09-19 01:05] #1519 closed

[2019-09-19 05:54] dmitry-rivlin-vrp opened #1520 "LWC CodeMirror integration"
### Description
I have an issue with codeMirror integration to LWC.

I get an error "Failed to execute 'setEnd' on 'Range': parameter 1 is not of type 'Node'."

As i understand this issue related to LockerService.

[2019-09-19 06:59] kumaresan-in opened #1521 "Documentation on Using LWC : Need to improve the documentation"
- Need to add architecture LWC like Angular Doc Site

- Mention all inbuild API, decorators with clear explanations

[2019-09-19 15:35] davidturissini commented on #1520
@dmitry-rivlin-vrp could you share more info? It would be helpful if you could share your component code and template where CodeMirror is being used

[2019-09-19 15:53] dmitry-rivlin-vrp commented on #1520
**HTML**
`<template>
    <div class="wrapper">
        <div class="innerWrapper">
            <textarea id="code" name="code" class="codeMirror" lwc:dom="manual"></textarea>
        </div>
    </div>
</template>`

**Controller**
`import { LightningElement } from 'lwc';
import { ShowToastEvent } from 'lightning/platformShowToastEvent';
import { loadScript, loadStyle } from 'lightning/platformResour

[2019-09-19 16:08] caridy commented on #1520
It is very likely that this is a locker issue since it is reporting a mismatch on the Node type, LWC has nothing to do with it most likely, but we will investigate more. Few more questions:

1. what version of codemirror are you using?
2. does this work in the LWC playground where locker is not available?

[2019-09-19 16:08] caridy commented on #1520
cc @manuel-jasso

[2019-09-19 16:10] caridy commented on #1521
@kumaresan-in yes, we kinda lack of some more detailed explanations, your best bet at the moment are:

* https://github.com/salesforce/lwc/tree/master/docs/architecture
* https://github.com/salesforce/lwc-rfcs/

[2019-09-19 16:10] caridy commented on #1521
question, what do you mean by "inbuild API"?

[2019-09-19 17:41] dmitry-rivlin-vrp commented on #1520
CodeMirror.version = "5.48.4"

[2019-09-19 20:30] Templarian commented on #58
@pmdartus Looked around to see if Chrome had any open bugs and I don't see anything resembling this in the tracker. I think I understand the bug.

@caridy Not sure how far this conversation went, but assuming no complex nesting would it be possible to implement a restricted `::slotted` support.

[code]

Seeing as it translates to specific styles for legacy the performance issue seems minimal.

[2019-09-19 22:16] briannabrownOE opened #1522 "Testing Lightning-datatable"
**Is your feature request related to a problem? Please describe.**

I am attempting to write a jest test for my lwc cmp that contains a `lightning-datatable`. In my test, I'd like ensure that the data passed from an imperative apex call (but mocked in my unit test) is displaying in a lwc `lighting-datatable` by counting the rows  in the datatable and comparing it to the number of records passed in

[2019-09-20 01:00] caridy commented on #1522
Not really related to this repo, but lets reroute this request to the proper folks:

cc @gonzalocordero @reiniergs @garazi

[2019-09-20 01:00] #1522 closed

[2019-09-20 01:09] caridy commented on #58
I don't remember the offline conversation about this... maybe @pmdartus remembers it. we can always chat again :)

[2019-09-20 10:10] kumaresan-in commented on #1521
Hi Caridy,

I'm telling about decorators, properties and all

[2019-09-20 11:39] miteshmsharma commented on #1521
Actually this is much needed and there is a need for a recipe cookbook
also. From Caridy's reference I can see information is scattered we need to
collate.

On Fri, 20 Sep 2019, 15:40 Kumaresan, <notifications@github.com> wrote:

[2019-09-20 15:04] hugogmendes opened #1523 "LWC Output Field is not showing values for some lookup fields"
**Description**
I've created a lightning-record-view-form with several fields. Some of the fields are lookups and the lookup fields are for differents objects, including custom and standard objects. The issue is that some of lookups isn't showing any value, but other do show.

**Example**
<lightning-record-view-form
    record-id="{recordId}"
	object-api-name="Suprimentos__c">

    <div class="sld

[2019-09-20 17:42] caridy commented on #1523
@hugogmendes lets reroute this question to the proper team, the lightning namespace is not part of this repository. cc @gonzalocordero @garazi

[2019-09-20 17:42] #1523 closed

[2019-09-20 20:41] apapko opened #1525 "compiler allows for private getter/setter to shadow @api property name"
### Description
Compiler allow private getter and setter functions to shadow public property names

[code]
Playground [link](https://developer.salesforce.com/docs/component-library/tools/playground/KQLparp83/9/edit)

**Expected**:
Compiler must throw a `Duplicate @api property "foo".` error

[2019-09-20 21:37] caridy commented on #1525
@jodarove this is also related to the other issue with fields vs accessors, the runtime error that we discussed yesterday.

[2019-09-21 00:23] pmdartus commented on #1525
The code snippet here is valid javascript, and if we were to roll out such compiler change on the platform it would be breaking change. Instead of surfacing such issue as a compilation error, I would advocate for creating a new best practices linting rule to the eslint-lwc-plugin package.

[2019-09-23 10:46] georges-gomes commented on #1268
Hi all, @diervo @Gr8Gatsby @muenzpraeger

Just a quick note to let you know that we released an experimental support for LWC on https://webcomponents.dev
We would love to hear your feedback and get recommendations going forward with it.
Discussing it on our [Slack](https://join.slack.com/t/webcomponents-dev/shared_invite/enQtNjM3MTUwMDk3MDczLTRhMzMwYWYxMzE0OGVmODE5MjA3YTQxYTZjZmEzNmZjYjAzZWRmZjZkN

[2019-09-23 15:24] kevinv11n opened #1529 "Review and help webcomponents.dev"
From @georges-gomes

We would love to hear your feedback and get recommendations going forward with it.
Discussing it on our Slack is probably a better option.

@diervo @Gr8Gatsby @muenzpraeger @caridy

[2019-09-23 15:25] kevinv11n commented on #1268
I filed a dedicated issue to help webcomponents.dev at #1529

[2019-09-23 16:58] caridy commented on #1525
@pmdartus is right... too late to enforce this, but at least we should be able to lint it.this seems very similar to the upper case field name issue @apapko

[2019-09-23 17:36] briannabrownOE commented on #1522
Thank you for getting back to me! @caridy Where is the best place to ask these types of questions for future reference?

@gonzalocordero @reiniergs @garazi any insight would be very much appreciated.

After mocking the component/ creating the initial element, i'm attempting to assign the `lightning-datatable` to a variable with:

`const tableRows = element.shadowRoot.querySelector('lightning-datat

[2019-09-23 19:19] #858 closed

[2019-09-23 20:10] ravijayaramappa opened #1530 "Implement lwc:dom="synthetic-portal""
**Is your feature request related to a problem? Please describe.**
Allow legacy features that were built before shadow dom semantics existed and hence do not respect those semantics, to be manually injected to a portal of an lwc component.

**Describe the solution you'd like**
Similar to lw:dom="manual", we can have a lwc:dom="synthetic-portal" feature.

**Describe alternatives you've considered**

[2019-09-24 08:13] pmdartus commented on #58
No, I don't recall having this conversation.

@Templarian If we are able to implement the `::slotted` selector properly I don't see any blocker handling complex compound selectors. I don't see any issue make those selector work once we agree on how the trees should be flattened.

[2019-09-24 08:25] pmdartus commented on #1518
This is potentially a breaking change. The template compiler has always stripped the trailing whitespaces and line breaks since the inception of LWC. The logic can be found in the compiler [package](https://github.com/salesforce/lwc/blob/6452906aff329f8bde07bc36cbdcee5b3fc97cb6/packages/%40lwc/template-compiler/src/parser/html.ts#L135-L171). As far as I recall, we originally did this to match with

[2019-09-24 22:15] caridy commented on #1518
@pmdartus I believe the logic here should be changed for the relevant tag names, code, textarea, etc.

[2019-09-25 09:56] SumitSFDC1506 opened #1535 "Line break after(.) when we use prettier VS Code extension"
Hi All,

I am using Prettier in my JS code.
The original Code is as below:
var num = Math.floor (Math.random() * 1E+7).toString().replace(/.\d+/ig, "")

and after passing it through prettier
var num = Math.floor(Math.random() * 1e7)
.toString()
.replace(/.\d+/gi, "");

i don't want this to happen. Please suggest which configuration of prettier in VS Code would help me here

[2019-09-25 10:05] pmdartus commented on #1535
Prettier is an opinionated formatting tool with a limited set of [options](https://prettier.io/docs/en/options.html). However, there is no option to configure how chain calls should be formatted. You can always disable prettier if you are not happy with the way your code is formatted.

[2019-09-25 10:05] #1535 closed

[2019-09-25 20:27] AlexBryner opened #1536 "CSS Keyframes are not scoped and being aliased"
### Description

I am seeing this on platform within an Aura Application.  The first keyframe animation in each component seems to be aliased to "a".  With multiple components using animations they are each now referencing an animation "a" which is not unique.  This results in all components applying the first animation declared in the component style tags in the header.

This is not happening wit

[2019-09-25 21:53] briannabrownOE opened #1537 "Inline Editing for Multiple Rows Lightning Datatable"
### Description
Following the instructions described [here](https://developer.salesforce.com/docs/component-library/documentation/lwc/lwc.data_table_inline_edit), i'm attempting to build a lightning datatable with inline editing available. I'm having a couple of issues. One is that my existing field values are not visible in my data table for number columns. The second issue is i'm not able to suc

[2019-09-26 01:31] caridy commented on #1536
is this related to https://github.com/salesforce/lwc/pull/1042?

[2019-09-26 01:31] caridy commented on #1536
cc @pmdartus

[2019-09-26 01:32] caridy commented on #1537
This is related to base components, not to this repo, but let me try to bring the attention for other folks: cc @gonzalocordero @garazi

[2019-09-26 01:32] #1537 closed

[2019-09-26 14:06] pmdartus commented on #1536
This is a bug in the CSS transformer, none of the CSS at-rules are currently scoped. On top of [`@keyframe`](https://developer.mozilla.org/en-US/docs/Web/CSS/@keyframes) we have the same issue with [`@font-face`](https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face).

Here is how the stylesheet should actually be transformed.

[code]

[code]

[2019-09-27 03:32] caridy commented on #1536
We now need a brave soul that can work on this fix :), any volunteer?

[2019-09-27 15:29] AlexBryner commented on #1536
Thank you

[2019-09-30 20:16] ravijayaramappa opened #1545 "Invoking Array.prototype methods on nodelist/htmlcollection fails because of third party libraries"
### Description
Legacy third party libraries that patch prototype of Array intrinsic are incapable of handling NodeList and HTMLCollection instances. For example, one such library is older version(1.7) of prototype.js
So this issue is to guard lwc engine against such legacy libraries.

** This is only in synthetic-shadow mode

#### Steps to Reproduce

1. Load prototype.js(v1.7) on the page
2. Load

[2019-10-01 04:46] gbreavin opened #1547 "Winter 20 - change in behaviour when updating api property"
### Description

Firstly - I know we shouldn't update api properties! However, we think we've found an edge case which changes between Summer 19 and Winter 20, without an error or warning to the developer indicating what's going on.

The issue seems to be when a property in a child component is updated in a forEach loop - this seems to bypass some of the read-only variable checks. In Summer 19, th

[2019-10-03 01:11] caridy commented on #1547
I looked into the details. I don't recall any particular change here, other than enforcing a little bit more the semantics of the read only values. In this case, they mutation is a no-op and does not really change the values inside that array, which means it doesn't really affects the UI. Unfortunately, the playground link that you provided does not work.

[2019-10-03 17:30] #1545 closed

[2019-10-03 23:25] gbreavin commented on #1547
Hi @caridy

Apologies, I was using the playground as a way of sharing the sample code (I wrote the code on my machine to be able to push to Summer 19 and Winter 20 scratch orgs, and didn't have time to refactor to work in the playground).

Here's a playground with the example - but **please note**, the playground's behaviour is in line with what I expect - click the button and you get console erro

[2019-10-04 21:40] russellsmall-litify commented on #1488
I've found that the reason for this is each cell has a div with `slds-truncate` applied, which provides `Overflow: hidden`. This hides the drop down of the combobox. Removing this style allows the drop down to function properly, but I don't have a workaround yet.

[2019-10-05 01:08] caridy commented on #1488
/cc @gonzalocordero

[2019-10-06 05:23] dmitry-rivlin-vrp opened #1554 "line let enc = new TextDecoder("utf-8") throw exception"
Line let enc = new TextDecoder("utf-8") throw exception in LWC JS controller

[2019-10-06 20:43] Gr8Gatsby commented on #1529
The single file format is quite nice. I know we'd discussed in the past. What does the team think of the `<template>` `<script>` `<style>` Approach. This does match Vue's approach: https://vuejs.org/v2/guide/single-file-components.html. I noticed that this makes LWC a bit easier to teach, like as in recipes etc...

[2019-10-07 03:47] diervo commented on #1529
Technically `<style>` works, however @caridy had some concerns with WYSIWYG, since we will be removing that style tag at runtime from the DOM.

[2019-10-07 04:08] apapko commented on #1525
Agreed, this should this be an eslint rule in eslint-lwc-plugin. As for core developers, this rule can be configured as a warning. cc @pmdartus

[2019-10-07 08:37] pmdartus commented on #1554
I will close this issue for now, since the bug report doesn't match the issue template.

I am suspecting you are facing this issue only when running unit tests and is due to the fact that JSDOM doesn't implement `TextEncoder` and `TextDecoder` (https://github.com/jsdom/jsdom/issues/2524).

[2019-10-07 08:37] #1554 closed

[2019-10-07 09:24] pmdartus commented on #1525
I created a specific issue for this: https://github.com/salesforce/eslint-plugin-lwc/issues/25

[2019-10-07 09:24] #1525 closed

[2019-10-07 19:25] caridy commented on #1529
I will like to work toward that goal but unfortunately HTML modules are not ready yet... once they are... it is going to be easier...  basically, writing a single file might require some explicit connection between the different pieces from the same file... vs regular bundle which we do the implict linking.

[2019-10-08 19:45] luminixinc opened #1556 "LWC OSS recipes ShadowRoot not defined on Edge browser"
### Description

Compiling the latest master branch lwc-recipes-oss results in Javascript that does not load in the Edge browser.

#### Steps to Reproduce

- Follow the installation instructions for [lwc-recipes-oss](https://github.com/trailheadapps/lwc-recipes-oss/)
- Latest commit tested : `8f248ce Custom npm module resolution (#41)`
- `npm run build:development` or `npm run build`
- `npm run se

[2019-10-09 00:53] ravijayaramappa opened #1558 "Normalize the build script across all sub packages of lwc"
**Is your feature request related to a problem? Please describe.**
Currently each sub package under the @lwc have separate build scripts. Often, each build script is identical and results in a lot of duplication. This feature request is to create a common build script at the root level and reuse it across the sub packages.

**Additional context**
https://github.com/salesforce/lwc/pull/1504#discuss

[2019-10-09 10:30] yasarshaikh opened #1559 "PDF/Excel report generation for LWC"
**Is your feature request related to a problem? Please describe.**
Currently there is no option available to generate the Aura/LWC component to PDF/Excel for reporting purpose.

**Describe the solution you'd like**
As Visualforce has an option like renderAs (which works with pdf/excel etc). I am expecting to have the same in LWC. Since we use different charts and data for reporting purpose, there

[2019-10-10 15:25] Gr8Gatsby commented on #1559
@yasarshaikh, thank you for taking the time to submit a request to LWCs Open Source Project. Currently, this is no work in our plans to support an output format for components.

PDF is a common scenario, but likely will be solved outside of an individual component capability.
The Core LWC project is focused on rendering in the DOM. I have passed along this request to other teams thinking about how

[2019-10-10 15:25] #1559 closed

[2019-10-10 15:31] Gr8Gatsby commented on #1556
There is a dedicated repo for these samples: https://github.com/trailheadapps/lwc-recipes-oss
@muenzpraeger, I can't transfer the issue to this repo.

[2019-10-10 15:36] luminixinc commented on #1556
Note that I was originally planning to ticket this issue in lwc-recipes-oss repo, but the issue system there reported the following:

[code]

And since this issue appears to be in the `engine.cjs.js` file, I decided that the ticket should be issued here.  But feel free to move it if I'm mistaken :)

[2019-10-10 16:18] diervo commented on #1483
@pozil yeah let's get @pmdartus to push a new version at lest roll.

[2019-10-10 16:25] Gr8Gatsby commented on #1521
@miteshmsharma have you looked at the recipes repo? https://github.com/trailheadapps/lwc-recipes. Is the desire to have a Cookbook of the recipes, like a more written up guide?

[2019-10-10 16:32] caridy commented on #1521
He is asking for architecture docs @Gr8Gatsby

[2019-10-10 16:52] apapko commented on #1483
approved! Thank you @pozil

[2019-10-10 17:28] muenzpraeger commented on #1556
It's neither `lwc-recipes-oss` not `lwc` (kinda).

The issue is that the default installation of `create-lwc-app` doesn't add the synthetic shadow to the `index.js` (Edge doesn't understand native shadow DOM). Sadly it's not yet officially documented anywhere. Hint, hint, @Gr8Gatsby ;-)

In addition to that the `index.js` also uses a property that Edge doesn't understand yet.

@luminixinc I publis

[2019-10-10 20:44] luminixinc commented on #1556
A colleague reports that the `npx create-lwc-app@beta your-app` asks a new question about Edge support and that appears to work.  I have not been successful running this npx command.  I guess I'm somehow not receiving the latest beta create-lwc-app package.  Please keep us informed to progress for the lwc-recipes-oss repo, thanks!

[2019-10-11 02:03] muenzpraeger commented on #1556
@luminixinc I've added [this PR](https://github.com/trailheadapps/lwc-recipes-oss/pull/42/files) to `lwc-services-oss`, which shows you what to modify in your local clone for Edge.

[2019-10-11 16:00] luminixinc commented on #1556
@muenzpraeger excellent, thank you, this appears to be working for us now!  Feel free to close the ticket.

[2019-10-11 16:25] #1556 closed

[2019-10-12 12:15] dmitry-rivlin-vrp opened #1570 "TreeGrid. Column with icon position left"
#### Steps to Reproduce
as you can see we don't have icon from left side
https://developer.salesforce.com/docs/component-library/tools/playground/t-IUPdQAG/3/edit

as you can see we have icon from right side
https://developer.salesforce.com/docs/component-library/tools/playground/t-IUPdQAG/2/edit

[2019-10-12 12:59] dmitry-rivlin-vrp opened #1571 "TreeGrid. First column with type "button-icon""
https://developer.salesforce.com/docs/component-library/tools/playground/t-IUPdQAG/4/edit

as you can see we can't see icon in first column

[2019-10-13 05:25] kamalkantappirio opened #1573 "Condition based child rendering"
I have two components 1.AccountList  2. AccountRow.
In the account list component, we have @trackaccounts array and us iterator this data and showing multiple  AccountRow.

Let's think when we update the single account(in @track accounts) but all the child(AccountRow) is rendering.

So we need a feature we can only render that update child not all the child.

The same life cycle method is availabl

[2019-10-13 08:12] diervo commented on #1573
Sorry I don't fully understand your question, you can do all the computations on a getter, there is no need to some side-effect derivation...

Moreover this does not follow the template we provide with repro steps, or specific details. It will be helpful is you can give us an example of code or a repro case.

Closing this for the reasons mentioned above, feel free to open a new issue following the

[2019-10-13 08:12] #1573 closed

[2019-10-13 08:16] diervo commented on #1571
This is not an issue on the LWC framework, this is on Salesforce Lightning components.

@gonzalocordero @reiniergs can you please check if this a bug indeed, file a ticket in after close this issue?

[2019-10-13 08:18] diervo commented on #1570
Same as https://github.com/salesforce/lwc/issues/1571

This is not an issue on the LWC framework, this is on Salesforce Lightning components. Moreover you are not following the the guidance we have provided for filing issues, please do fill correctly the issue next time.

@gonzalocordero @reiniergs can you please check if this a bug indeed, file a ticket in after close this issue?

[2019-10-13 08:19] diervo commented on #1483
Fix: https://github.com/salesforce/lwc/pull/1574

[2019-10-14 02:04] caridy commented on #1573
As @diervo mentioned, we need more information, repro case, etc. Most likely, the problem that you have is the `key` in the iteration, if the key is not preserved for some elements in the tracked accounts, those elements will not be preserved as well, it is all about the keys.

[2019-10-14 18:21] Gr8Gatsby commented on #1571
Opened internal bug, will update status once updates are available.

[2019-10-14 18:22] Gr8Gatsby commented on #1570
Opened an internal bug to make progress, will update status once progress is made.

[2019-10-15 01:07] caridy commented on #1138
working on this.

[2019-10-15 01:59] #1367 closed

[2019-10-15 16:33] yaminm opened #1579 "Private field declarations in classes (# support) error"
### Description
I want to leverage the private field declarations in lwc classes
#### Steps to Reproduce

create a service class and use #

[code]

https://developer.salesforce.com/docs/component-library/tools/playground

[code]

#### Expected Results
Deploy to org
#### Actual Results
ERROR deploying LightningComponentBundle lwc/sapCarConfiguratorUtil/sapCarConfiguratorUtil.js: LWC1509: Unexpected

[2019-10-15 20:17] caridy commented on #1579
@yaminm private fields are stage 3, once they reach stage 4, and are implemented in modern browsers, we will enable it with the corresponding transpilation down to IE11, for now... we keep waiting.

Btw, keep in mind that we provides protected fields at the moment, only those with `@api` are truly public, while regular fields are basically protected.

[2019-10-15 20:38] #1579 closed

[2019-10-16 03:54] ekashida commented on #1530
Could we be explicit about what this directive would do?

[2019-10-16 17:49] luminixinc opened #1582 "Allow <link> tag in component templates"
**Is your feature request related to a problem? Please describe.**

We would like to `<link>` a global stylesheet directly in various `someComponent.html` files.

Currently the [template-compiler explicitly disallows this](https://github.com/salesforce/lwc/blob/master/packages/%40lwc/template-compiler/src/parser/constants.ts#L229).

**Describe the solution you'd like**

In our version of the templ

[2019-10-16 19:46] caridy commented on #1582
The problem here is about synthetic shadow (and IE11). Specifically, the problem that in synthetic mode we can't have the link in the synthetic shadow per instance, causing a significant difference between the markup in native vs synthetic, it messed up with the position of the elements, the result of querySelectors, etc. So, we are being very careful here. The proper way to do this is by importin

[2019-10-16 19:47] caridy commented on #1530
RFC is needed for this... so I suspect we will have a lot more info there. Who is doing the RFC?

[2019-10-16 19:58] jbleyleSF commented on #1530
@ravijayaramappa what is a "a portal of an lwc component"?
Regarding this statement, I thought Aura components weren't allowed to be nested in an LWC:

[2019-10-17 14:32] luminixinc commented on #1582
Ok this makes sense.  Sounds like a feature for a future date when IE11 is fixed or no longer a factor.

[2019-10-17 14:32] #1582 closed

[2019-10-17 16:19] caridy commented on #1582
@luminixinc we are still interested in looking at the problem that you described when using import. Can you share more details?

[2019-10-17 18:17] #1506 closed

[2019-10-18 09:34] tedconn opened #1585 "compiler.transform is not validating compiler options"
Invoke compiler.transform with an invalid `StylesheetConfig`.

The options are normalized but they are not validated like they are in `compiler.compile`.

[2019-10-21 11:44] surendra-dev opened #1587 "unable to modify inner dom element of shadow element"
Hi Folks,

I am writing a component with resize text area based on height, it will be auto resize. I created following code with playground.
https://developer.salesforce.com/docs/component-library/tools/playground/goOTvmp1t/1/edit

But when same code i write in my app then it gives me that shadowRoot is undefined.

Thanks in advance

[2019-10-21 17:17] jdalton commented on #1520
@dmitry-rivlin-vrp

Depending on version Locker should be unwrapping the elements for `Range#setEnd()`. Would you try this in the [LWC playground](https://developer.salesforce.com/docs/component-library/tools/playground) and see if it works.

[2019-10-22 00:45] caridy commented on #1587
@surendra-dev you need to provide more details. I suspect you're running LWC in standalone mode. I also suspect you're using IE or Edge, both of them do not support native shadow, in which case you have to load our synthetic-shadow package. But that's just me guessing! /cc @Gr8Gatsby

[2019-10-22 07:10] surendra-dev commented on #1587
Hi @caridy ,

Thank you so much for quick response.

So very first i am using same code in chrome browser only. Code that i am trying to run is part of org.
I am attaching few screenshot for your reference.

![image](https://user-images.githubusercontent.com/22252793/67264474-c8bd5a80-f4c8-11e9-962b-525186f84881.png)

![html-code](https://user-images.githubusercontent.com/22252793/67264496-d8d53a0

[2019-10-22 11:06] sbvkrishna commented on #1499
can I work on this?

[2019-10-22 15:00] caridy commented on #1587
Ok, the issue here is that you're introspecting into the internal details of lighting-textarea with the following line in your code:

[code]

Basically, you're attempting to get into `lighting-textarea`'s shadowRoot, which is illegal in our platform because you're crossing a namespace boundary between `c` namespace and `lightning` namespace. And locker service is going to enforce that, while the p

[2019-10-22 15:00] #1587 closed

[2019-10-22 22:22] jodarove opened #1588 "Some node APIs don't work properly on elements moved from inside lwc:dom=manual"
### Description
When doing `document.body.appendChild(element)` and `element` is inside a node marked with `lwc:dom="manual"`, some node API's like `parentNode` and `querySelector` wont work with that node.

#### Steps to Reproduce
The example is using version `0.37.4-220.2`:
https://developer.salesforce.com/docs/component-library/tools/playground/olNZQkviD/1/edit

Using v1.1.5 of `@lwc/synthetic-

[2019-10-22 22:22] jodarove commented on #1588
fyi/ @caridy @ravijayaramappa

[2019-10-23 05:57] MuzaffarMahmood opened #1591 "Getting error on using @wire(CurrentPageReference) pageRef;"
Getting following error on using @wire(CurrentPageReference) pageRef;

Error: [LWC error]: Invalid event type "WireContextEvent" dispatched in element <c-lineitemdetail-header-component>. Event name must 1) Start with a lowercase letter 2) Contain only lowercase letters, numbers, and underscores

<c-lineitemdetail-header-component>

    at Object.logError (aura_proddebug.js:4268)

    at Construct

[2019-10-23 07:02] surendra-dev commented on #1591
Hi @MuzaffarMahmood ,

It seems you are trying to emit event name like this : WireContextEvent

According to LWC rules you can event name should be following :
- wirecontextevent
- wire_context_event

You can't write in upper case.
Thanks

[2019-10-23 11:45] MuzaffarMahmood commented on #1591
Hi @surendra-dev,
First of all thank you for replying. I am not emitting any event. I am just adding this line in my LWC js file. @wire(CurrentPageReference) pageRef;

May be this wire is emitting some event and there is bug in LWC framwork. But this error is not an issue. It is working fine in desktop salesforce web app on chrome browser but it is not working on Salesforce1 mobile app and i could

[2019-10-23 13:11] tedconn opened #1593 "Support latest stable version of yarn"
**Is your feature request related to a problem? Please describe.**

I can't use the latest **stable** version of yarn (`1.19.1`) when contributing to LWC

**Describe the solution you'd like**

Allow yarn 1.19.1 in package.json and in Volta

[2019-10-23 19:52] caridy commented on #1591
Related to the upcoming wire reform: https://github.com/salesforce/lwc/pull/1459

cc @jodarove @jbenallen can you help here?

@MuzaffarMahmood we will probably need more information about where are you seeing that error.

[2019-10-23 22:11] #1588 closed

[2019-10-24 05:36] MuzaffarMahmood commented on #1591
@caridy Thank you for reply.
Error shows on browser console when we enable LWC bugging from Salesforce admin. But the problem is we can not get parameters from state or attributes of pageRef only in Salesforce mobile app.
For details: https://salesforce.stackexchange.com/questions/282419/in-salesforce1-app-unable-to-get-recordid-from-currentpagereference-wire-adapter

[2019-10-24 16:04] jbenallen commented on #1591
The underlying implementation behind that wire is resulting in that event's emission. Upcoming work will refactor this and remove this. The console error is not causing any functional issues since it's not actually being thrown in the stack and is merely being logged. It is safe to ignore and will be removed in the future.

[2019-10-24 17:30] caridy commented on #1591
Closing this in favor of the proper stackexchange question, no changes needed in this repo.

[2019-10-24 17:30] #1591 closed

[2019-10-24 19:41] caridy commented on #1499
This is the wrong repo for this issue since this is related to the implementation of `lightning-input`. cc @garazi @gonzalocordero @sfdciuie

[2019-10-25 01:33] caridy commented on #1499
asked around, this was fixed a while ago... probably pending to be released. Please, go through the support channels for a timeline.

[2019-10-25 01:33] #1499 closed

[2019-10-25 04:05] jflowers45 commented on #1357
Hi, not sure if related, but if debug mode is turned on, any time you wire the CurrentPageReference you get an error. Here's an example that happens in the lwc-recipes.

Invalid event type "WireContextEvent" dispatched in element <c-pubsub-search-bar>.

[2019-10-25 13:10] caridy commented on #1357
@jflowers45 no, your specific question was answered here: https://github.com/salesforce/lwc/issues/1591#issuecomment-545988069, and this issue is pending to be closed as soon as we merge https://github.com/salesforce/lwc/pull/1459, which should happen in the next few days, with that change, there will be no more `WireContextEvent`.

[2019-10-25 18:41] caridy commented on #1547
cc @Gr8Gatsby

[2019-10-28 18:46] sfdciuie opened #1595 ""spellcheck" attribute changed from "false" to "true""
### Description
Spellcheck is a global enumerated attribute (possible attribute values are "true" and "false")
https://developer.mozilla.org/en-US/docs/Web/HTML/Global_attributes/spellcheck , yet when the value of "false" is passed, when rendering in the DOM the value is changed to "true" (implying that it thinks it's a boolean and not enumerated).

#### Steps to Reproduce
https://developer.salesf

[2019-10-29 07:29] ckarimanoor commented on #1591
Hi jbenallen,
Do you know when the upcoming work will release this? Are you referring to the Salesforce Release or some thing else? Please confirm. I am trying many samples but @wire is not working in any of them. I am using await expression in renderedCallback() async function.

[2019-10-29 07:46] albarivas opened #1598 "Component cannot be constructed when using a private property called "title""
### Description
I have a lwc which has a property called “title”. The component works fine in the org, but when using local development I receive this error: Assert Violation: Failed to construct ‘<c-product-compatibility>’: The result must not have attributes. I changed the name of the property and it works fine now.

#### Steps to Reproduce

https://developer.salesforce.com/docs/component-librar

[2019-10-29 07:59] albarivas commented on #1598
Not latest version but 220.2

[2019-10-29 23:19] Gr8Gatsby commented on #1405
@caridy is the link showing a workaround? Or do we need to do something here?

[2019-10-30 02:01] caridy commented on #1405
yes, there is work to be done here for sure.

[2019-10-30 03:28] Gr8Gatsby commented on #1598
FYI: @ntotten @KrisGraySFDC

@albarivas is this only happening in local development?

[2019-10-30 03:35] Gr8Gatsby commented on #1598
https://twitter.com/KevinV11n/status/1163683197617467393

[2019-10-31 08:06] albarivas commented on #1598
Also in playground

[2019-11-01 02:14] jinlii opened #1603 "lightning-slider triggers noblur event when you slide"
### Description
This is not an issue in Chrome. I wanted to slide without triggering onblur. Onblur I will be closing the slider.

#### Steps to Reproduce

[code]

#### Expected Results
when sliding, onblur is not triggered.

#### Actual Results
when sliding, onblur is triggered. As a result, the onblur handler is being invoked which is supposed to close the slider and return to a read only view o

[2019-11-01 02:15] jinlii commented on #1603
Is this a known issue? Is there a workaround? Thanks for your help in advance!

[2019-11-01 02:17] caridy commented on #1259
The reflection of aria attributes is being implemented in modern browsers now (e.g.: https://groups.google.com/a/chromium.org/forum/#!msg/blink-dev/882iPcdnNQs/UP-PI8H2DwAJ). It is probably a good time to consolidate this as a polyfill.

Explainer
https://github.com/WICG/aom/blob/gh-pages/explainer.md#reflecting-aria-attributes

Spec
Specification: http://w3c.github.io/aria/#idl-interface
TAG revi

[2019-11-01 03:00] caridy commented on #1603
@jinlii this is the wrong repo for this issue, but we can reroute it from there via @Gr8Gatsby and @garazi

[2019-11-06 12:28] tedconn opened #1607 "Module resolver doesn't process lwc.config.json in npm modules"
### Description

The module resolver does not properly process the lwc.config.json found in npm modules.

#### Steps to Reproduce

add an lwc.config.json to your package which looks like this:

[code]

in `@my/module` add an `lwc.config.json` like this:

[code]

#### Expected Results

The modules from @my/module/src/modules will be added to the module path.

#### Actual Results

They won't be beca

[2019-11-08 11:20] tedconn commented on #1585
fixed with #1592

[2019-11-08 11:20] #1585 closed

[2019-11-08 21:50] ekashida commented on #1244
Also, don't forget about `blur`.

[2019-11-11 19:57] jodarove commented on #1595
`translate` is another attribute in the same situation: https://developer.salesforce.com/docs/component-library/tools/playground/9QyIG6iLa/2/edit

[2019-11-11 21:43] lozforce opened #1612 "Assert Violation: [object:vm undefined] must be inserted."
### Description
In a stand-alone LWC app, clicking around the website we sometimes get an error caught by the global error handler. The error doesn't appear to have any detrimental effects to the UI or to the functionality.

#### Steps to Reproduce
There is no consistent repro.

Please contact me on Slack to get a link to the SPA and to the source.

#### Expected Results
No error is thrown

#### A

[2019-11-12 13:44] priandsf opened #1613 "Concurrent modification in wire adapters"
### Description
A runtime error is thrown when a component has multiple wire adapters that unregister themselves on disconnect. This is due to a concurrent modification in the collection of listeners (the array is being mutated while iterated).

[code]
[code]

### Version
- LWC: 1.1.1

**Possible Solution**
Make a copy of the array before iterating and iterate through the copy. The code bellow has

[2019-11-12 16:33] kevinv11n commented on #1613
Dupe of #1458

[2019-11-12 16:33] #1613 closed

[2019-11-12 20:15] caridy commented on #1458
ping @jodarove

[2019-11-12 21:33] jodarove commented on #1458
Sure thing!

[2019-11-13 16:37] jacobroschen opened #1615 "Polyfill `URL` constructor in IE11"
**Description**
When developing in LWC, sometimes developers have a need to gather URL parameters. The easiest way to do this is by utilizing [new URL()](https://developer.mozilla.org/en-US/docs/Web/API/URL/URL). However, this isn't supported in IE11.

**Describe the solution you'd like**
Bring in or develop a polyfill for the `URL` constructor.

**Describe alternatives you've considered**
- Bring

[2019-11-13 16:52] pmdartus commented on #1615
On IE11, we have decided not to polyfill web plaform APIs because it is hard to draw the line. Since there are so many web platform APIs that are added every years, it is really hard to decide which polyfill we need to bring in: `URL`, `URLSearchParams`, `Fetch`, `Cache`, `Stream`, ...

If you really want to use `URL` and `URLSearchParams` to load the polyfills via static assets or by including th

[2019-11-13 18:00] magnadrew opened #1616 "Datatable Column action check mark not updating when using Header-Level Actions and @track"
I followed documentation for "Creating Header-Level Actions" (https://developer.salesforce.com/docs/component-library/bundle/lightning-datatable/documentation)

The actions fire ok but the column header does not reflect the new state.  Instead it always stays as "All".  If you change to XXX it will show All.  I did notice that if you toggle between cilp / wrap then the header updates.

You can see

[2019-11-16 13:07] AllanOricil opened #1618 "LWC EmpApi does not work when there is an Aura component using EmpApi"
### Description
LWC can't subscribe to a Platform Event if there is an Aura component that is subscribing to a Platform event in the same Lightning Page.

#### Steps to Reproduce
Place an Aura component that subscribes to a Platform Event 1 and a LWC that subscribes to a Platform Event 2 in a Lightning Page. The Aura component subscribed without any problem. The LWC did not subscribe and also did

[2019-11-16 16:47] AllanOricil commented on #1618
To solve my issue for now I just put my LWC into another Lightning Page. It works but an odd behavior happens.

When I load a page which has an Aura component that subscribes to a Platform Event using empApi and then move to another lightning page that has a LWC using empApi, this page throws an exception. If I reload this last lightning page the error is gone.

This is the exception that I have:

[2019-11-17 04:46] miteshmsharma commented on #1618
This was once happening with me and the reason for this was that upon the
navigation the sequence of lifecycle events were not coordinated in the
navigation logic. I used state to capture current and cleared the previous
states altogether.
If your component has state before the navigation I recommend to set it to
the conducive state for the next component(page).

The other thing which might be at

[2019-11-17 10:50] AllanOricil commented on #1618
The components does not communicate with each other! They are completly separated and both subscribe to different events. And both work when they are in separated Lightning Pages.

[2019-11-17 13:55] AllanOricil opened #1619 "Datetime Fields using lightning-record-form don't render properly the Date"
### Description
Datetime Fields using lightning-record-form don't render properly the Date

#### Steps to Reproduce
Load a dateTime field in a lightning-record-form and you will see the Date part on edit mode is displaying weird characters. They are not properly formated. But when you save it works...

![image](https://user-images.githubusercontent.com/55927613/69008393-e05df680-0941-11ea-9a32-69a

[2019-11-18 16:54] joeferraro commented on #1519
Just to confirm, is there a known workaround for this? We're really trying not to rebuild the datepicker ...

[2019-11-18 17:21] caridy commented on #1619
@AllanOricil This is not the repo for this kind of issue, this is a problem with a component, but in order to re-route this ticket to the right place, we need more info.

I suspect you're talking about either the playground or the local development environment, if that's the case, then we can loop it the right person. The component works fine if you save it to your org, which is a good indication

[2019-11-18 17:21] caridy commented on #1619
/cc @gonzalocordero @garazi

[2019-11-18 17:46] AllanOricil commented on #1619
I created a scratch org from my Dev Org (Dev org not trailhead playground) then pushed the component to this scratch org.

[2019-11-18 18:35] ekashida commented on #1519
@joeferraro there is no known workaround. You need to first reach out to SLDS to find out if this is something that can be supported although I suspect not due to accessibility reasons. If it's not, then your UX contact should align with SLDS and come up with a different experience. If it is, then SLDS should add it to their blueprint and then you can file a TD on Base Components to get it added t

[2019-11-18 18:39] ekashida commented on #1519
I checked and saw that you're not a Salesforce employee :)

@sfdciuie has this issue come up before? Can you help find the answer for @joeferraro?

[2019-11-18 20:51] caridy commented on #1619
ok, in that case I will say: go here https://powerofus.force.com/s/article/How-to-Create-a-Technical-Support-Case-with-Salesforce-Support and open an issue for the lightning global component's team, since this is not part of the engine itself (which is what we have in this repo).

[2019-11-18 20:51] #1619 closed

[2019-11-19 18:11] caridy commented on #1616
Yes, this is the right repo for this kind of issue, because the problem here is an intersection between components and engine. In this case, you're facing an issue related to #1444 (reactive setters), which is not fixed but behind a flag due to the potential implications of enabling this today.

Specifically, the problem is not your code, your code is correctly tracking the data structure for colu

[2019-11-21 05:04] Rsalyme opened #1623 "yarn build not working on master branch..."
### Description
Running `yarn build`immediately after cloning master, using node v10.16.3 and yarn 1.17.3, got the following errors:
__________________________________________________________________
[code]

#### Expected Results
yarn build to build the project

Please get back to me as soon as possible.
Thank you

[2019-11-21 09:20] pmdartus commented on #1623
This repository doesn't have any dependency against `@types/jsforce` nor `@types/mocha`. Based on the stack trace, I am suspecting you have `node_modules` directory in an ancestor directory that contains typescript types that are invalid with the typescript compiler used in the lwc repository.

Clonning and building the lwc repository in a different directory and cleaning up your global installed

[2019-11-21 09:20] #1623 closed

[2019-11-21 12:32] pmdartus commented on #1612
@lozforce I will share this issue for now since there isn't much we can debug. Feel free to reopen the issue when you can share a small reproduction case for this assertion error.

[2019-11-21 12:32] #1612 closed

[2019-11-22 19:30] ypeskov commented on #1591
Is there any update about the fix? I am getting the same error for the next code:

`this[NavigationMixin.GenerateUrl]({
                type: 'standard__recordPage',
                attributes: {
                    recordId: result.Id,
                    actionName: 'view',
                },
            })`

yes it doesn't break anything on a page,  but it is indeed not nice in console.

[2019-11-23 17:26] Rsalyme commented on #1623
Thanks @pmdartus

[2019-11-29 13:00] wiktoriasobczyk opened #1628 "Freeze column in datatable"
I created lightning-datatable and I want to freeze 1'st column .
How to freeze first column only while scrolling horizontal  in lightning datatable or css?
I tried add additional css:
.THIS table tr td:first-child {
    position:sticky;
    top:0;
}
but it doesn't work.
Thank you for helping!

[2019-11-29 19:21] caridy commented on #1628
@wiktoriasobczyk this is the wrong repo for support or features on global components, this is about the LWC library itself, not the component. You should try: https://powerofus.force.com/s/article/How-to-Create-a-Technical-Support-Case-with-Salesforce-Support

[2019-11-29 19:21] #1628 closed

[2019-12-04 12:04] ipavlic commented on #1356
@caridy At the moment, where are lightning global components? Are they in this repo? What other channels are you advertising in this repo? The only one I could find is Salesforce stackexchange. In effect you are saying: "ask someone else, because we do not support our product".

[2019-12-04 23:19] caridy commented on #1356
@ipavlic this repo contains the LWC library (which includes the engine, compiler, some dev-tools, etc). It is intended to be used by LWC Authors who want to create components, this repo does not contain a single component. Components are created by other folks, whether those are salesforce employees or not, it does not matter.

Yes, I agree with you that there is a disconnect here, and that we sho

[2019-12-05 06:20] #1593 closed

[2019-12-06 15:37] rahulbir commented on #1331
+1 is this going to get fixed?

[2019-12-06 18:07] noobtiger commented on #1508
It just reached stage 4 https://twitter.com/robpalmer2/status/1202312626891452416

[2019-12-09 08:56] pmdartus commented on #1475
I will close this issue for now. @miteshmsharma feel free to reopen it if you are still facing this issue.

[2019-12-09 08:56] #1475 closed

[2019-12-09 14:23] pmdartus opened #1634 "Consider using read-only membrane to invoke wire-service listeners"
TODO details: [property-trap.ts](https://github.com/salesforce/lwc/blob/71cabd5b83a0cd84c6eff11be4d574923f7db646/packages/%40lwc/wire-service/src/property-trap.ts#L39)

[2019-12-09 14:26] pmdartus opened #1635 "Optimize parentNode and parentElement getters"
TODO details: [node.ts](https://github.com/salesforce/lwc/blob/71cabd5b83a0cd84c6eff11be4d574923f7db646/packages/%40lwc/synthetic-shadow/src/faux-shadow/node.ts#L175)

[2019-12-09 14:28] pmdartus opened #1636 "Remove ambiguity with HTMLSlotElement in childNode getter"
TODO details: [node.ts](https://github.com/salesforce/lwc/blob/71cabd5b83a0cd84c6eff11be4d574923f7db646/packages/%40lwc/synthetic-shadow/src/faux-shadow/node.ts#L251)

[2019-12-09 14:32] pmdartus opened #1637 "Optimize createKeyToOldIdx"
TODO details: [snabbdom.ts](https://github.com/salesforce/lwc/blob/71cabd5b83a0cd84c6eff11be4d574923f7db646/packages/%40lwc/engine/src/3rdparty/snabbdom/snabbdom.ts#L37)

[2019-12-10 08:36] #1331 closed

[2019-12-10 08:36] #1307 closed

[2019-12-11 00:39] lozforce opened #1642 "Add type definition for buildCustomElementConstructor (and other publicly available methods)"
### Description
buildCustomElementConstructor is used in LWC apps scaffolded by the create-lwc-app. In other words, it's publicly exposed and used. There's no type definition for this method in types.d.ts.

#### Steps to Reproduce
[code]
Open up index.ts in VS Code
Notice the squiggly line under "buildCustomElementConstructor" on the import line.

#### Expected Results
No squiggly

#### Actual Res

[2019-12-11 01:04] lozforce commented on #1642
Another instance:
```import { createElement } from 'lwc';```

[2019-12-11 13:16] jbenallen commented on #1591
@ckarimanoor the error logged in the console has no impact on functionality. If you are having problems using `@wire` in your code, it would not be related to this logged error.

@ypeskov the work to refactor the underlying implementation, avoiding this logged error, isn't complete yet.

[2019-12-12 02:46] caridy commented on #1642
experimental `buildCustomElementConstructor` method will be removed by https://github.com/salesforce/lwc/pull/1395

other experimental APIs like `createElement` will eventually be removed as well, that's why we don't promote them much.

[2019-12-12 06:19] #1141 closed

[2019-12-13 10:49] pmdartus opened #1649 "Enable tsc for @lwc/synthetic-shadow package"
### Description

Currently the `@lwc/synthetic-shadow` doesn't run `tsc` as part of the [`build`](https://github.com/salesforce/lwc/blob/331cf3508ee5a2dd6b2e97eb464617f858f5527b/packages/@lwc/synthetic-shadow/package.json#L10) script. It only runs `rollup`. Like the all the other packages, `tsc` should run before `rollup` to catch Typescript related errors.

[2019-12-13 17:37] caridy commented on #1649
Ah, good catch! we remove it because we don't produce the ES version of this polyfill nor the types, but we can definitely run it without output for validation.

[2019-12-18 18:19] aaronbauman opened #1654 "Can't connect to lwc.dev site because of self-signed cert"
### Description
lwc.dev's self-signed cert triggers security threat protections on modern browsers.
ref: https://ma.ttias.be/chrome-force-dev-domains-https-via-preloaded-hsts/

#### Steps to Reproduce
Visit https://lwc.dev from Firefox or Chrome

**Possible Solution**
Upgrade to a real cert.

**Additional context/Screenshots**
![Screen Shot 2019-12-18 at 1 15 06 PM](https://user-images.githubuserc

[2019-12-18 18:24] aaronbauman commented on #1654
My bad, this is my machine.

#EBKAC

[2019-12-18 18:24] #1654 closed

[2019-12-19 16:00] juvian opened #1655 "Can't track custom classes"
### Description

On one hand I see in documentation that @track only works with objects created with {}, so I guess classes wouldn't work. But I also read that if you track something lwc won't be able to track, it would give a warning, which I don't see.

Am I forced to make Attribute a custom component to be able to make it work?

#### Steps to Reproduce

https://developer.salesforce.com/docs/com

[2019-12-19 17:09] vmarasow commented on #1655
I just ran into the same issue with a Map object

[2019-12-21 06:06] caridy commented on #1655
An obj that can change its properties without external intervention (e.g.: internal state management), is, by our definition, not trackable.

As for Map, Set, and co., we are evaluating whether or not we can observe them (a la VUE), it will take a while for us to settle on that one, a RFC will be needed for sure.

[2019-12-21 06:06] #1655 closed

[2019-12-23 21:23] jodarove opened #1656 "Improve dynamic component usability"
When using dynamic imports alongside dynamic components, the imported module always have the component constructor as `default` property. Ex:

[code]

[code]

I would like to improve the usability of the dynamic components to support the case in which you pass the module definition from a component as the constructor. In that way, the above example can be written like:

[code]

[2019-12-23 21:23] jodarove commented on #1656
fyi/ @pmdartus @caridy

[2019-12-24 20:37] juvian commented on #1655
This seems to work with simple classes:
https://developer.salesforce.com/docs/component-library/tools/playground/P_41sHBv/2/edit

[2019-12-26 05:45] caridy commented on #1656
If I understand correctly, you're suggesting that the lwc directive value could accept a module namespace object, and extra the information out of it via the default property, is that it?

[2019-12-26 18:29] caridy commented on #1655
yes @juvian, you're using a class declaration in that example that is just an illusion, since you update the prototype to be a simple object during construction. That is equivalent to create a regular POJO, or any other object creation process. Those we can track fine... of course, if you're using a getter/setter with some weird behavior, there is nothing we can do about them, but regular value pr

[2019-12-27 18:18] apapko commented on #1656
I'm a bit confused as well. Both examples specify module name in the import call expression. The only observed difference is that in the second example the import resolves the default value vs having to explicitly access it from the module:
[code]
versus
[code]

[2020-01-06 09:12] pmdartus commented on #1656
@apapko what @caridy means by the namespace object is the object returns by the `import` invocation. This is different than the component namespace.

Since all the LWC components are exported via the default export, when importing a component using the `import()` syntax, the component constructor needs to be extracted out of the resolved Module object by accessing the `default` property (example 1

[2020-01-06 17:10] caridy commented on #1656
@pmdartus I'm not talking about the component's namespace object.

that is what is called a namespace object in 262.

I understand that this is an ergonomic improvement, but one that I'm a little hesitated to accept because we don't have a way to validate that what was provided is in fact a namespace object (that's non-observable as far as I can tell, but I can explore more). Based on this, the pr

[2020-01-07 15:05] pmdartus commented on #1656
We can close this for now. We can always come back to this later once there is more adoption with `lwc:dynamic`.

[2020-01-07 15:05] #1656 closed

[2020-01-08 22:41] ekashida opened #1659 "[synthetic-shadow] refactor feature flags so that they can be enabled"
The `@lwc/synthetic-shadow` polyfill is conventionally used as an IIFE in a script tag that gets dropped onto the page before the lwc runtime executes. Since it doesn't export anything, we currently lack a way to toggle runtime flags.

Requirements:
- Ability to set flags at application start
- Ability to toggle flags during testing

[2020-01-09 16:10] thiagorp opened #1663 "Empty object being returned on `querySelector`"
### Description

When I call `this.template.querySelector('.popover')` an empty object is being returned. I understood that the method would return `null` when the element doesn't exist or the first element when it does, but this contract is not being respected.

If I do `console.log(this.template.querySelectorAll('.popover'))` I see that the `target` property of `[[Handler]]` has the element I wa

[2020-01-09 21:37] apapko commented on #1239
@ravijayaramappa @caridy is this still relevant? I recall there were few iterations around error boundary.

[2020-01-10 06:04] caridy commented on #1239
well, I think that at least we should spike on this to explain why any other protection is virtually impossible.

[2020-01-10 08:42] pmdartus commented on #1663
Yes if it works on the playground then, this should be related to Locker.
Let's keep this issue open for tracking purposes until the locker team acknowledges or not the bug.

[2020-01-10 15:31] pmdartus opened #1665 "@lwc/synthetic-shadow HTMLCollection should implement iterable"
### Description

The `@lwc/synthetic-shadow` package makes `HTMLCollection` interface iterable. This shouldn't be the case, the HTML specification doesn't define the `HTMLCollection` as implementing the iterable protocol. More context can be found in https://github.com/salesforce/lwc/pull/1652#discussion_r358210648.

#### Steps to Reproduce

[code]

#### Expected Results

The invocation should thr

[2020-01-10 15:53] #1649 closed

[2020-01-10 17:24] juvian opened #1666 "dispatchEvent not working"
Not sure which is the right repo to report this, but using dispatchEvent on an element which extends another element instead of LightningElement, doesn't work when using lightning out.

Custom element code:
[code]

Visualforce code:
[code]
Result:

![image](https://user-images.githubusercontent.com/5660396/72172583-4bf99880-33b4-11ea-8d31-c2dfa825c14f.png)

If I extend LightningElement instead, it

[2020-01-11 04:34] caridy commented on #1666
just a couple of general notes:

* you should not use `new Event`, use `new CustomEvent` instead.
* dispatchEvent() method expects a single argument (the event), that second argument is not for the dispatchEvent, it is for the event constructor.

As for the issue itself, let me loop some other folks here to see if we can figure what could be happening here. /cc @sfdciuie @garazi

[2020-01-13 17:28] #1277 closed

[2020-01-13 19:00] ekashida commented on #1327
Notes from a recent spike

- There are two settings that affect sequential focus navigation in MacOS: 1) enabling full keyboard access in the keyboard system preferences and 2) toggling "press tab to highlight each item on a webpage" in Safari preferences.
- Enabling full keyboard access in the keyboard system preferences allows the user to focus on non-editable form controls like buttons and chec

[2020-01-13 21:01] alafemina opened #1673 "lightning-layout does not work in Microsoft Edge"
### Description
LWC layout does not flow properly on Edge/IE11 when using lightning-layout-item with Size Attribute

#### Steps to Reproduce
1. Create a component with the following template:
[code]
2. Deploy and open in Microsoft Edge
3. Layout is not correct, items aren't in two columns with appropriate widths

https://developer.salesforce.com/docs/component-library/tools/playground/xmMHZzf7/1/e

[2020-01-14 00:11] ravijayaramappa commented on #1043
Tests being enabled under https://github.com/salesforce/lwc/pull/1674

[2020-01-14 00:11] #1043 closed

[2020-01-14 00:27] #1282 closed

[2020-01-14 01:23] caridy commented on #1673
This is the wrong repo for lightning-* components, let me loop the right folks so they can guide you. cc @Gr8Gatsby @garazi

[2020-01-14 01:28] #1278 closed

[2020-01-15 21:58] ravijayaramappa commented on #1129
GUS work item: W-5979455

[2020-01-15 22:36] ravijayaramappa commented on #1129
Update(1/15/2020): This issue still exists. In the synthetic-shadow, events appear patched only when accessed inside a listener. If the event's reference is retained and accessed outside of a listener, the event appears unpatched.
Possible solutions include, patching the global Event.prototype or patching EventTarget.prototype.dispatchEvent.

[2020-01-16 01:41] apapko commented on #1547
The error is generated by the [observable-membrane](https://github.com/salesforce/observable-membrane/blame/4aa7e417755796a99df6d0180d61cba10f7cb991/src/read-only-handler.ts#L39) and has been in place for the last 2 years. The only time the error won't be produced is when the code is ran in [production](https://github.com/salesforce/observable-membrane/blame/4aa7e417755796a99df6d0180d61cba10f7cb99

[2020-01-16 01:46] gbreavin commented on #1547
@apapko Yes, that's certainly possible!

[2020-01-16 05:12] caridy opened #1678 "[Perf Optimization] separate the reactive phase for render method from the template function"
Now that we have a reactive model that supports multiple phases/procedures, we can discuss whether or not we will like to separate the template function invocation from the render method invocation to use two separate phases (currently denoted by `vm.tro`). The gain here is that most components do not have logic in their render() method, in fact, most of them don't even have a render method.

If w

[2020-01-16 05:15] caridy commented on #1129
This is supposed to be solved by https://github.com/salesforce/lwc/pull/1569, isn't it?

[2020-01-16 20:27] ravijayaramappa commented on #1129
Yes.

[2020-01-17 19:46] jbleyleSF opened #1680 "internal stringifying mechanism for an array not picked up by reactive mechanism"
### Description
Array reference in template doesn't update when a new element is pushed to the array.

#### Steps to Reproduce
https://playground.lwcjs.org/projects/LvMY_tAT/2/edit

[code]
[code]

#### Expected Results
`{list}` updates in template

#### Actual Results
`{list}` doesn't update in template

**Possible Solution**
@caridy says

**Additional context/Screenshots**
https://github.com/sale

[2020-01-20 14:03] holapancho opened #1685 "onrowaction in datatable"
**Is your feature request related to a problem? Please describe.**
I need to know when the user select press a checkbox in the datatable and return the selected row.

**Describe the solution you'd like**
This is solved in datatable aura component, it's called **onrowselection** action.

**Describe alternatives you've considered**
If exist a workaround please let me know, thanks :)

[2020-01-20 14:06] pmdartus commented on #1685
Thanks for reporting this issue @holapancho. This is the wrong repo for lightning-* components, let me loop the right folks so they can guide you. cc @Gr8Gatsby @garazi

[2020-01-20 14:15] pmdartus commented on #1680
This is not a reactivity issue, as you can see the engine is notified when pushing a new item in the list.

This issue comes from the fact that the diffing algo does an equality check against the object (in this case `list`) instead of the object `.toString()` value to check if a text node value should be updated or not.

[2020-01-20 14:50] pmdartus commented on #1678
As mentioned, the `render()` method invocation is really lightweight because in 99% of the cases it just returns the template associated with the component. I am uncertain the expected performance gain this change brings outweighs the memory overhead (extra properties to track) and the maintenance complexity it would introduce.

[2020-01-20 16:40] caridy commented on #1680
@pmdartus I had a chance to chat with @jodarove about this last week. I don't think we should fix this. Two main reasons:

* completeness: it is not only about text nodes, any attribute value.
* perf: it is going to slow down everyone.

I asked @jodarove to work on an RFC where we can decide what to do with this edge case, but as of now, I feel that we should not fix it, just document it.

[2020-01-20 16:44] caridy commented on #1678
You are probably right @pmdartus, we can close this one.

[2020-01-20 16:45] #1678 closed

[2020-01-20 19:08] #1065 closed

[2020-01-20 19:08] #1285 closed

[2020-01-21 12:35] #938 closed

[2020-01-22 08:40] gonardfreeman opened #1691 "TR treats as inline element other child components."
### `<tr>` treats components inline

#### Steps to Reproduce
1. Created datatable
2. Create `<c-child>` el to put row in it
3. Create loop over data list
4. wrap child el in `<tr>` tag and add keys

**Playground link**
https://developer.salesforce.com/docs/component-library/tools/playground/NzIP6A6k/7/edit

#### Expected Results
`<tr>` treats `<c-child>` as normal shadow el and compile code inside

[2020-01-22 10:33] pmdartus commented on #1691
As defined by the [HTML specification](https://html.spec.whatwg.org/#the-tr-element), `<tr>` elements can only have `<td>` and `<th>`, `<script>` and `<template>` children. Due to this reason, you can't have LWC as children of the `<td>` element and it's something that will not be fixed. In the following example, you can see that the HTML parser move the invalid elements out of the `<table>` : htt

[2020-01-22 11:02] gonardfreeman commented on #1691
Thanks for clarification!

[2020-01-22 13:40] gonardfreeman commented on #1691
@pmdartus one little update. if you use `<tr>` inside loop it requires 2 keys on each el
[code]
but in other cases it is enough to put them only on wrap el:
[code]
or at component itself
[code]

[2020-01-22 13:55] pmdartus commented on #1691
I am not certain to understand your question. The `key` directive should only be needed on the direct children of the elements with `for:each` directive.

[code]

[2020-01-22 16:06] gonardfreeman commented on #1691
@pmdartus here few screens, so you can see it:
![Screenshot 2020-01-22 at 18 03 47](https://user-images.githubusercontent.com/16113714/72910713-9a5a5000-3d41-11ea-9cc5-6f0dbd1a1aa6.png)
![Screenshot 2020-01-22 at 18 03 28](https://user-images.githubusercontent.com/16113714/72910714-9a5a5000-3d41-11ea-9a32-a13ad5ebb0da.png)

Basically it requires to put key on each child. And here what I've got fro

[2020-01-22 19:21] apapko commented on #1547
Feel free to re-open this issue if you find that the investigation results contradict your finding.

[2020-01-22 19:21] #1547 closed

[2020-01-23 08:53] pmdartus opened #1695 "Unify getComponentStack and getErrorComponentStack"
### Description

The `getComponentStack` and `getErrorComponentStack` have similar logic, the only difference if the formatting for the component stack. We should attempt to refactor those methods into a single one to avoid code duplication.

[2020-01-23 19:12] BatemanVO commented on #1089
I recently performed an `npm i @salesforce/lwc-jest` to update my lwc-jest and am now on version 0.5.5. I am still seeing the warning `If property x decorated with @api in [object:vm undefined (y)] is used in the template, the value z set manually may be overriden by the template, consider binding the property only in the template.`.

It looks like #1193 should've removed that error from the warni

[2020-01-24 09:34] pmdartus commented on #1089
@BatemanVO What version of LWC are you running? If you don't know could you share your npm or yarn lock file?

[2020-01-24 17:53] BatemanVO commented on #1089
@pmdartus 0.5.5. That's the version I have when I run `npm i @salesforce/lwc-jest`.

[2020-01-24 18:48] ravijayaramappa commented on #1089
@BatemanVO @salesforce/lwc-jest@0.5.5 was released prior to fix #1193. Please [install](https://developer.salesforce.com/docs/component-library/documentation/lwc/lwc.unit_testing_using_jest_installation) the latest version(0.6.2) of @salesforce/sfdx-lwc-jest(previously named @salesforce/lwc-jest) and the errors should go away.

[2020-01-24 19:34] BatemanVO commented on #1089
@ravijayaramappa Thank you - I did not know the package had been renamed, that was the key to fixing the problem.

[2020-01-27 13:24] pmdartus opened #1698 "Exposing Node.prototype.isConnected on LightningElement"
**Is your feature request related to a problem? Please describe.**

From Chuck Liddell:

Original thread: [link](https://gooddaysir.slack.com/archives/CET9BEA2W/p1579930937009700)

**Describe the solution you'd like**

From @aheber:

https://developer.mozilla.org/en-US/docs/Web/API/Node/isConnected

Developers expect `Node.prototype.isConnected` to be exposed on the component instance, but it is n

[2020-01-27 14:31] caridy commented on #1698
The history about this, in the past, we didn't have a polyfill for it (missing in IE11), now we do.
Additionally,`this.isConnected` is considered useless if you're relying on the platform pieces that we offer (only useful if you're doing your own thing, e.g.: in OSS).

I believe we can enable it, but with one condition, add a dev-time check that if this value is accessed during rendering or constr

[2020-01-27 14:46] pmdartus commented on #1698
Sounds good to me.

[2020-01-27 16:00] ravijayaramappa commented on #1698
connectedCallback() and disconnectedCallback() Can be used to achieve this. What is isConnected providing in addition? Ergonomics maybe, single property look up v/s managing the connectedness in the callbacks.

Note: My argument is not against opening up isConnected.

[2020-01-29 08:35] lbineau opened #1699 "Transition / Animation system"
**Is your feature request related to a problem? Please describe.**
I did not find any documentation about a transition / animation system (CSS or JS).

**Describe the solution you'd like**
I think LWC should have a built-in transition / animation system like any other modern frontend framework.
* https://vuejs.org/v2/guide/transitions.html#Transitioning-Single-Elements-Components
* https://fr.reac

[2020-01-29 14:43] Jerrkawz commented on #1508
@caridy We are excited to use this as we have some use cases that require it. Just want to make sure this is know:

We have a component that needs to pass data down into a child component which will then use it as an input to a wire.

<c-child recordTypeId={wiredRecord.data.recordTypeId}/>

We can't use a getter to safety check this since it would not be analyzable by the ADG. And we don't want to

[2020-01-29 15:35] caridy commented on #1699
@Gr8Gatsby can you add this to the things to be discussed at some point?

[2020-01-30 15:25] ravijayaramappa opened #1700 "[synthetic-shadow] non-composed events are observable outside of shadow tree"
### Description
A non-composed event dispatched on an element in a shadow tree can be listened to at the document.body element.

#### Steps to Reproduce
https://playground.lwcjs.org/projects/AXvaFl_o/2/edit

[code]

Alternative reproduction steps with LWC components only: [playground](https://developer.salesforce.com/docs/component-library/tools/playground/S1wRP35ub/7/edit)

#### Expected Results

[2020-01-30 16:51] caridy commented on #1700
this is supposed to be addressed by https://github.com/salesforce/lwc/pull/1569

[2020-02-03 08:43] georges-gomes commented on #1529
As a quick update. we now support LWC through multiple files as it was intended 👍

[2020-02-03 12:09] pmdartus commented on #1698
Yes, it's an ergonomic improvement to avoid some boilerplate code.

[2020-02-03 13:25] pmdartus commented on #1169
While working on https://github.com/salesforce/lwc/pull/1704, I realized that this issue has not been solved. There is still a test referencing this issue that has is disabled and failing: https://github.com/salesforce/lwc/blob/master/packages/integration-karma/test/component/LightningElement.errorCallback/index.spec.js#L114-L115

[2020-02-04 14:55] pmdartus commented on #1139
Fixed with #1676

[2020-02-04 14:55] #1139 closed

[2020-02-05 06:20] ekashida commented on #1615
As a general guideline, LWC only introduces polyfills that it needs to use internally. Please consider the above suggestion to load any polyfills you may require.

[2020-02-05 06:20] #1615 closed

[2020-02-05 06:26] ekashida commented on #1598
@albarivas Thanks for raising this issue! I just checked and this seems to have been fixed in spring20 but it's not immediately clear which change fixed it. Please reopen if you believe this should be further investigated for a backport into winter20.

[2020-02-05 06:26] #1598 closed

[2020-02-07 05:04] ekashida opened #1708 "[delegatesFocus] Sequential focus navigation focuses on host element with [tabindex="0"]"
## Description

When the focus delegation polyfill forwards focus from a host element, it temporarily "mutes" the `focusin` and `focusout` events on the window before invoking the focus method of the next focusable element. The polyfill does this in an effort to make itself transparent to the document [1]. When the next focusable element is the host element of a focus-delegating component, the pol

[2020-02-10 14:41] pmdartus opened #1714 "Upgrade Babel dependencies"
### Description

Currently, the LWC compiler uses babel version 7 for more than a year now. As Babel is introducing new features and bug fixes, we should try to keep the version of Babel up-to-date. Babel has also proven to be an extremely stable library.

Note: the `@lwc/babel-component-transform` expects the plugins to runs in a certain order which isn't guaranteed by Babel. This package needs s

[2020-02-10 14:48] pmdartus opened #1715 "Relax LWC compiler wire restrictions"
### Description

The LWC compiler currently enforces the following restrictions on the `@wire` decorator expression:
- wire adapters have to be imported from another module
- wire adapters has to be an identifier
- wire adapter can't be a computed expression

Those [restrictions](https://github.com/salesforce/lwc/blob/master/packages/@lwc/babel-plugin-component/src/decorators/wire/validate.js#L14-

[2020-02-10 14:54] pmdartus opened #1716 "Remove import processing from the @lwc/babel-transform-component"
### Description

The `@lwc/babel-plugin-component` is currently in charge of processing the `import()` syntax. As discussed offline, the component transform should not be in charge of handling syntax related to `import`.

We should investigate how to extract this from the transform and move it at the compiler level.

[2020-02-10 15:45] caridy commented on #1716
Can you provide more details here?

[2020-02-10 16:00] pmdartus commented on #1716
I am referring to [this section](https://github.com/salesforce/lwc/blob/master/packages/%40lwc/babel-plugin-component/src/dynamic-imports.js#L46-L69) of the `@lwc/babel-plugin-transform`. This package transforms the LWC modules into a format that can be understood at runtime by the engine.

The way the `import()` are transformed is orthogonal is not an engine or an LWC concern.

[2020-02-10 16:19] caridy commented on #1716
I understand, and I'm very supportive of this as well!

[2020-02-10 16:44] diervo commented on #1716
Im not sure if I agree here. This is the same what we do with other pieces such as CSS variables. It is a concern of LWC to provide ways for the components to work in different containers for primitives that are hardly polyfillable. I would argue that this is such a case.

[2020-02-10 16:52] pmdartus commented on #1716
This is a container issue, not an LWC component issue. This has nothing to do in a package that deals with component transformation.

[2020-02-10 16:53] diervo commented on #1716
So you want to move the CSS as well? 😄

[2020-02-10 16:54] pmdartus commented on #1716
CSS is tightly couple with component authoring, those are 2 different things IMO.

[2020-02-10 16:58] diervo commented on #1716
I think moving it from here will be more painful for integrators like LWR where they will have to have their own transforms, so not sure if purity here will actually bring us slightly more overheads long term (@tedconn ?)

Anyway, I don't have strong opinion either way, if you want to move it and do the rest of the work for integrating it in lwc-platform, by all means.

[2020-02-10 17:49] priandsf commented on #1336
We just released this open source project, see: [https://blog.riand.com/2020/02/lwc-accessing-graphql-data-with-apollo.html](https://blog.riand.com/2020/02/lwc-accessing-graphql-data-with-apollo.html). The code is here: [https://github.com/LWC-Essentials/apollo-client](https://github.com/LWC-Essentials/apollo-client). It is aligned with what @larkintuckerllc proposed.
If you feel a need in this ar

[2020-02-10 18:50] pmdartus commented on #1336
Thanks for sharing this @priandsf.

[2020-02-10 18:50] #1336 closed

[2020-02-10 20:11] tedconn commented on #1716
I don't fully understand what the impact would be on LWR but we rely on the fact that LWC compilation is a black box that we don't have to concern ourselves with : ) If we have to introduce transforms for customer code then we are setting a new precedent.

[2020-02-10 20:30] Marcelovv2 opened #1718 "Instalation ERROR"
Windows 10 64 bit, node 12.15.0, npm 6.13.7
I'm following https://lwc.dev/guide/install#tools and encounter errors at the beginning,

`salesforce> npx create-lwc-app mvv-app
npm ERR! code ETARGET
npm ERR! notarget No matching version found for @typescript-eslint/typescript-estree@2.19.2.
npm ERR! notarget In most cases you or one of your dependencies are requesting
npm ERR! notarget a package vers

[2020-02-10 20:39] jbleyleSF commented on #1718
@muenzpraeger

[2020-02-10 20:44] jbleyleSF commented on #1718
@Marcelovv2 I'm seeing the same issue on Mac/Chrome.
Would you mind creating an issue at
https://github.com/muenzpraeger/create-lwc-app/issues

I'll close this issue. Thank you.

[2020-02-10 20:44] #1718 closed

[2020-02-11 10:44] pmdartus commented on #1169
I spent some time investigating this issue. And I came to the conclusion that the behavior described in this issue matches the mental model I have with error boundaries.

- When the first `<c-grand-child>` component throws in the `renderedCallback` the `<c-child>` content is reset and the `errorCallback` is invoked.
- In the `errorCallback` the `state.error` is set to true and the component enqueu

[2020-02-11 17:28] #1698 closed

[2020-02-11 18:58] suresh83kumar commented on #1691
Is there a workaround for this?

[2020-02-11 23:18] caridy commented on #1691
@suresh83kumar that seems more like an issue with the linting rule, which we should update to fix this message, but functionally wise, it should be fine.

[2020-02-11 23:55] suresh83kumar commented on #1691
I get key error when I deploy the code to org. Can you guide me how to
deploy bypassing that error?

On Tue, Feb 11, 2020 at 6:18 PM Caridy Patiño <notifications@github.com>
wrote:

[2020-02-12 06:24] caridy commented on #1691
@Gr8Gatsby this seems to be a platform issue, can you follow up asap?

[2020-02-12 06:26] caridy commented on #1691
@suresh83kumar the workaround here is to add the same key that you add to the parent `<tr>`. Adding an extra key will do nothing but will bypass the linter.

[2020-02-12 09:22] pmdartus commented on #1691
@caridy I don't think there is any workaround. `<tr>` elements can only have `<td>` and `<th>`, `<script>` and `<template>` children (see https://github.com/salesforce/lwc/issues/1691#issuecomment-577117572).

The parse5 automatically fixes this to match with the actual browser behavior. Let's take the following example:

[code]

The actual generated DOM will be:

[code]

See the live example: htt

[2020-02-12 11:21] suresh83kumar commented on #1691
I agree with you. Implementing key workaround doesn’t work for me. I am
kind of stuck in release now. Any recommendations or alternatives to move
forward would be appreciated.

Regards,
Suresh

On Wed, Feb 12, 2020 at 4:22 AM Pierre-Marie Dartus <
notifications@github.com> wrote:

[2020-02-12 18:36] caridy commented on #1691
Ah, apologies, I didn't look at the details in deep before replying. @pmdartus is absolutely right, this is not a problem with the linter, but with the invalid markup, and how it is parsed. I suspect your problem is even bigger, probably using a `td` inside `x-foo`'s template, which is only invalid (@pmdartus do we have linter errors for that? IIRC we had a issue open for that from a very long tim

[2020-02-12 19:01] apapko commented on #1169
I agree with @pmdartus that the parent component shouldn't know about child's failing. However, what i don't like with the current implementation is that the parent component, by default, assumes a healthy child, unless its errorCallback is invoked. In other words, it creates an illusion that everything in the descendant's tree is healthy. The general expectation around errorCallback, is that if t

[2020-02-12 21:28] ravijayaramappa commented on #106
This has been addressed by creating the `@lwc/shared` package in this PR https://github.com/salesforce/lwc/pull/1487

[2020-02-12 21:28] #106 closed

[2020-02-12 21:43] ravijayaramappa commented on #259
This issue is obsolete now. Things have changed after PR https://github.com/salesforce/lwc/pull/1551.
The engine now has two flags, one to mark the invocation of `render()` method and another to mark the invocation of executing the template returned by the render method. In both the cases the vmBeingRendered is set. So vmBeingRendered cannot be used to infer which phase the engine is currently in.

[2020-02-12 21:43] #259 closed

[2020-02-12 22:03] #605 closed

[2020-02-12 22:03] ravijayaramappa commented on #605
This issue has been fixed.

[2020-02-12 22:20] #885 closed

[2020-02-12 22:20] ravijayaramappa commented on #885
This can be revisited later. Currently we cannot throw an error for this violation, it will continue to be a warning.

[2020-02-13 01:00] ravijayaramappa commented on #960
Probably duplicate of https://github.com/salesforce/lwc/issues/1700

[2020-02-13 01:11] ravijayaramappa commented on #1287
@ekashida @lwc/synthetic-shadow does not have unit tests anymore. Any objections to close this issue?

[2020-02-13 01:12] #1287 closed

[2020-02-13 01:18] ravijayaramappa commented on #1305
This work has been completed in https://github.com/salesforce/lwc/pull/1572

[2020-02-13 01:18] #1305 closed

[2020-02-14 15:29] pmdartus opened #1726 "Maximum call stack error when compiling a complex stylsheet"
### Description

When the LWC compiler processes a complex stylesheet rollup throws a `RangeError: Maximum call stack size exceeded`. This call stack error is caused by the way the CSS compiler transforms the CSS string into a javascript expression to inject the tokens used for the shadow DOM emulation at runtime.

In the following example, for each class selector, the CSS compiler creates a new J

[2020-02-14 18:48] ravijayaramappa opened #1727 "distribution files have incorrect version number in footer"
### Description
The distribution files for the @lwc/* packages are being generated with incorrect version number footer. The version number being used is one release behind.

#### Steps to Reproduce
Checkout the repo and run `yarn install` followed by `yarn release:ci:npm <new version number>`. Check the version number footer in the generated dist files.

[2020-02-14 23:22] manuel-jasso commented on #1663
Hi @thiagorp, I am with Locker team, I tested your code but in my environment I didn't see the error, i.e. `console.log(this.template.querySelectorAll('.popover').length)` returns `1` with Locker enabled.

What version of LWC are you testing with? Are you using SFDX to deploy your code to an Org? Can you share all of your code, not just the template?

Thanks!

[2020-02-18 19:36] #1327 closed

[2020-02-18 21:43] #1727 closed

[2020-02-19 02:29] Templarian commented on #1680
@caridy Thinking about this agin and wondering if there is a nice way to throw an error for non-primitive types being used in the template or would that check be too slow? What about just in developer mode and not production.

The documentation can explain that all inline variables should be a primitive.

[2020-02-19 02:34] Templarian commented on #1680
@jodarove Let me know if you want help writing up an initial RFC for this. I think there is few ways to handle this. But a dev build level error would probably be the most friendly.

It should be relatively safe to not worry about it as much in a production build as one going from a string to an object/array is not likely.

[2020-02-19 06:19] caridy commented on #1680
I'm up for a dev-time warning on this one. It can't be build time though, it must be runtime because computed values in templates can lead to such issue. Few notes for whoever decides to work on this:

* built-in elements are the easy one (and probably covers 90% of the cases).
* IIRC there are exceptions to the rule that any attribute used in a template on built-in elements will be set as an attr

[2020-02-19 08:33] albarivas opened #1731 "LWC container created on init call overriding all other LWCs already rendered with their own unique state"
Original issue from @gigiskarlett https://github.com/dreamhouseapp/dreamhouse-lwc/issues/104

----

Situation: Up until Salesforce API got upgraded to 48.0 every time an agent would open a salesforce tab when opening a support case I was able to create a new aura:component that would trigger an init call to the controller creating a div with a unique id and then create a LWC component that contain

[2020-02-19 18:09] Templarian commented on #1680
That would be perfect. Can probably use this issue to track that work and skip the RFC. 👍

This is a nice dev experience issue. 🥰

[2020-02-19 18:46] diervo commented on #1731
Alba this is a very contrived and unrelated LWC problem, and I don't think is the right forum for it, so I'm going to close this issue. However in an attempt to help, here are some suggestions:

1) Don't use `let` in aura, is not supported in ES5.
2) It is likely to be an issue on the way you instantiate your aura => LWC. Try to call you you attribute other name than `Id`, see if that helps.
3) If

[2020-02-19 18:46] #1731 closed

[2020-02-19 18:48] saw commented on #1680
what is "dev time"? I think my concern here is that silent errors become gacks, which means customer cases

[2020-02-20 08:41] pmdartus commented on #1680
I think what @caridy means by dev-time and when the Aura application is running in PRODDEBUG mode. I don't think we should report an error here in this case that would cause a gack but rather log a warning message.

[2020-02-20 22:40] isalew commented on #1346
I found [this page about shared style sheets](https://developer.salesforce.com/docs/component-library/documentation/en/48.0/lwc/create_components_css_share) in the documentation today, but when I tried using it, was unable to deploy my css-only library. Is this a working feature now?

[2020-02-20 22:54] diervo commented on #1346
Did if failed on open source or in platform?

[2020-02-21 00:34] isalew commented on #1346
@diervo it was in platform. I attempted an `sfdx force:source:deploy` command to a dev org and received the following error:

`sfdx.log`

[code]

`lib.css`

[code]

[2020-02-21 00:56] ekashida opened #1734 "Discrepancy between native and synthetic shadow when slotting content"
### Description

Given multiple slots with the same name, slotted content for that name should only be rendered under the first slot. LWC renders slotted content under each slot.

#### Expected Results

https://jsbin.com/hiruxewuvu/edit?html,output

#### Actual Results

https://developer.salesforce.com/docs/component-library/tools/playground/0xHlB1Cd/1/edit

### Browsers Affected

All browsers

##

[2020-02-21 02:02] diervo commented on #1346
@Gr8Gatsby Wasn't this a bug we fixed?

[2020-02-21 02:23] Gr8Gatsby commented on #1346
@diervo @isalew Yes this will be resolved in the upcoming release. When Summer rolls out you will be able to save .css only modules

[2020-02-21 03:30] caridy commented on #1734
uff, that should have been a compiler error to avoid people producing wrong template. @reiniergs is it possible to answer this question with static analysis to see if someone is doing that?

[2020-02-21 03:42] diervo commented on #1734
That is far from ready

On Thu, Feb 20, 2020 at 7:30 PM Caridy Patiño <notifications@github.com>
wrote:

[2020-02-21 08:22] isalew commented on #1346
@Gr8Gatsby that’s great news. To confirm, next release definitely means Summer, not Spring? This would be a super handy feature to use in my current project, but will have to go a different direction if it’s not available before May.

[2020-02-21 22:38] jbleyleSF commented on #1680
Please let me know when I need to update the docs.

[2020-02-21 23:33] Templarian commented on #1680
@jbleyleSF Assuming a warning message can be logged in this scenario we would want to mention somewhere in the [template docs](https://lwc.dev/guide/html_templates) for users not to use variables in templates that are not primitives.

Same would hold true without this warning. So it could probably be documented prior to a PR/poc for this issue.

[2020-02-25 04:25] ekashida opened #1736 "Make @lwc/errors, @lwc/features, and @lwc/shared private packages"
These packages were originally made public to avoid installation errors. We can make them private by not listing them as dependencies in any of our packages.

The only known usage outside of this repository is in https://github.com/salesforce/lwc-test

[2020-02-25 16:50] caridy commented on #1680
@Templarian what does this mean?

[2020-02-25 17:09] Templarian commented on #1680
Oops, that was worded badly. Variables not used for attributes and display purpose should be primitives. We might have a term for non-attribute variables. `<span>{foo}</span>`.

[2020-02-25 17:42] caridy commented on #1680
Hmm, I'm still confused why are you talking about the template here, the controls are at the JS file, the template should not dictate much, other than just usage.

[2020-02-25 18:01] Templarian commented on #1680
The main issue I was trying to address was related to `<span>{arr}</span>` usage with arrays not updating their displayed value in a template as expected. I think I'm now confused how this wouldn't relate to a template file. That's what this warning would be for.

[2020-02-25 19:50] apapko opened #1739 "Mutating @api array results in a confusing error message"
### Description

#### Steps to Reproduce
https://developer.salesforce.com/docs/component-library/tools/playground/IaX_i6WN/3/edit

[code]

**Actual Result:**
_Error: Invalid mutation: Cannot set "0" on "". "" is read-only._

**Expected:**
_Error: Invalid operation. The 'objects' property is read-only._

[2020-02-26 08:58] pmdartus commented on #1739
@apapko The error message can't contain the mutate object name since the object name is bound to the current context scope. This information is not available from the ReadOnly proxy.

The best thing we can do here is to print the original target type instead of coercing the original target name to string.

[code]

[2020-02-26 14:29] pmdartus commented on #1714
Once #1735 is merged, we will be able to upgrade the version of babel across the board. This PR deduplicates the different versions babel used in the LWC project. This is step is needed to at least update the version of babel in the template compiler.

[2020-02-26 14:37] pmdartus commented on #335
This is not needed anymore. Most of the tests have been moved from Webdriverio over to Karma.

[2020-02-26 14:37] #335 closed

[2020-02-26 22:12] caridy opened #1740 "Make isComponentConstructor internal operation"
In the past, `isComponentConstructor` was used by Locker, not anymore. IIRC, this is the only reason for us to export it in main.

I believe we should, at least, remove that export from main, and keep it as an internal operation instead. I believe we can also simplify it a little bit.

[2020-02-26 22:13] caridy commented on #1740
/cc @manuel-jasso

[2020-02-26 22:42] jodarove opened #1741 "Hidden attribute not working properly for empty string"
### Description
In a component template when setting the `hidden` attribute of a regular or custom element to empty string, the rendered element is not hidden.

#### Steps to Reproduce

LWC playground: https://developer.salesforce.com/docs/component-library/tools/playground/wVIn9_yb/2/edit
[code]

#### Expected Results
The div should be hidden ( https://codepen.io/jodarove/pen/mdJWaOR )

#### Actu

[2020-02-26 23:00] apapko commented on #1739
@pmdartus i find the `Cannot set "0"` part to be very confusing as it may not be obvious to a novice user that such message is related to array.push operation. What if we use:
_"Invalid operation. @api properties are read-only and cannot be mutated."_

[2020-02-26 23:03] noopole opened #1742 "[Question] How to force synthetic shadow DOM?"
### Description

Since version 1.2.2 (https://github.com/salesforce/lwc/pull/1693) it seems that the native Shadow DOM is used instead of the Synthetic Shadow DOM when available.

How is it possible to force Synthetic Shadow DOM polyfill?
or
How is it possible to detect if it's the native or polyfill Shadow DOM that is used?

#### Steps to Reproduce

Load the Synthetic ShadowDOM 1.2.1 and add a Sh

[2020-02-26 23:08] noopole commented on #1742
It seems that it is possible to force Synthetic Shadow DOM with the following option:

`host.attachShadow( { mode: 'open', '$$lwc-synthetic-mode$$': true, } )`

But is it possible to force Synthetic Shadow DOM for all the Shadow DOM by default?

`host.attachShadow( { mode: 'open' } )`

[2020-02-27 02:04] caridy commented on #1741
Compiler should consider this boolean.

[2020-02-27 02:09] caridy commented on #1742
No, it is not! the main reason here is mostly because the synthetic shadow is not a full-compliance shadow root implementation, there are things that will just not work unless you use LWC, e.g.: slotting doesn't work. So, in order to avoid such confusion, we decided to ask for an explicit flag, being aware of what you're doing is better in this case.

As a workaround, if you really want that to be

[2020-02-27 02:09] #1742 closed

[2020-02-27 10:49] ekashida opened #1743 "Add copy, cut, and paste events to the event-composed polyfill"
These three events were added to the list of native composed events some time after the initial discussion about which native events should be composed per specification:
https://github.com/w3c/webcomponents/issues/513

They are now listed as composed events here:
https://w3c.github.io/clipboard-apis/#clipboard-event-definitions

[2020-02-27 20:10] #1743 closed

[2020-02-27 20:42] ekashida commented on #1659
Fixed by #1696

[2020-02-27 20:42] #1659 closed

[2020-02-27 20:58] ekashida commented on #1595
Fixed #1610

[2020-02-27 20:58] #1595 closed

[2020-02-27 21:03] ekashida commented on #1433
Fixed #1687. Pascal case property names are now supported to preserve backwards-compatibility.

[2020-02-27 21:03] #1433 closed

[2020-02-27 21:05] ekashida commented on #1295
@ravijayaramappa can you confirm this is no longer the case?

[2020-02-27 21:10] ekashida commented on #1081
@caridy Is this issue still relevant? I believe we have recently established that we have a ton of LWC usage without Locker protection.

[2020-02-27 21:21] ekashida commented on #772
#1709 tightened the selector for `[href]` and added `iframe`. We probably won't be able to refine the selector further until we implement some kind of self-healing mechanism where we are able to recover from attempting to transfer focus on an element that wasn't actually focusable (depends on the browser).

[2020-02-27 21:24] ekashida commented on #512
@caridy @jbenallen I believe we've since started moving away from mixins. Should we close this one?

[2020-02-27 22:06] ekashida commented on #1295
Discussed with @ravijayaramappa and we agreed this should stay open until we refactor all tests that use `compileTemplate`.

[2020-02-27 23:39] caridy commented on #512
I don't know... I am up for closing it... but I don' tknow if @jbenallen or someone else might have strong opinions here.

[2020-02-27 23:41] caridy commented on #772
I'm fine with this as it is... we can close it.

[2020-02-27 23:42] caridy commented on #1081
IMO, it is still relevant.

[2020-02-28 10:41] pmdartus commented on #1739
We will need to open a new API on the `ReadOnlyProxy`  to parametrize the error message.

[2020-02-28 17:59] caridy commented on #1739
I might be able to help here, we do similar stuff in the membrane for locker. Let's chat about it.

[2020-03-06 15:31] ravijayaramappa opened #1761 "[HTMLSlotElement] childNodes property should always reflect default content"
### Description
There is a difference in the behavior of childNodes property of <slot> element in synthetic-shadow and native shadow. The <slot> element's childNode property should reflect the default content.

For example:
[code]

[2020-03-06 18:42] caridy commented on #1761
I don't think we want to support this... lets chat about it.

[2020-03-09 01:13] lukethacoder opened #1763 "PostCSS support"
**Is your feature request related to a problem? Please describe.**

Building out fully custom LWC components (both functionality and styling) can be a time consuming task. Incorporating [PostCSS](https://postcss.org/) would greatly improve the front end DX as well as speed up build times. Many folks already have existing front end systems/frameworks setup off the platform. Porting these over to va

[2020-03-09 04:40] diervo commented on #1763
@lukethacoder I don't think we in general prevent you for using any preprocessing tool you like (same as for example Typescript), however we can't support anything non standard to be uploaded (for compatibility reasons mostly).

As per the package.json, that's something we are starting to look at, but it will take time to adapt some of the OSS practices into platform (lot of legacy code and bugs t

[2020-03-09 05:05] muenzpraeger commented on #1763
@lukethacoder great ideas.

In theory there's nothing stopping you from doing any processing using npm packages, like we do [here](https://github.com/trailheadapps/lwc-recipes/blob/master/package.json). This would be manual right now (as in: you've to run the commands manual before deploying to an org), and should be more automated once the CLI exposes their support for custom hooks. @clairebianch

[2020-03-09 07:52] lukethacoder commented on #1763
I haven't personally had any issues running a custom setup for building LWC. The only concern I see here is if we are taking on legacy code from a previous vendor (say 2-3yrs down the line). We no longer have all the build/dev tools that they used sitting there on the platform ready to go.

Maybe this is too much of an edge case for now, but it will be interesting to see how changing vendors may a

[2020-03-09 15:10] pmdartus commented on #1536
I was looking into this today and it is more challenging than expected.

Currently, the CSS compiler does style scoping using attributes. The transformation related to the `keyframes` at rule introduces a brand new scoping mechanism at both the CSS declaration value level and at the at rule name level. Adding support for such a feature would require a large rewrite for the CSS transform and serial

[2020-03-09 20:39] AlexBryner commented on #1536
There is a simple workaround with loading animations through a static resource

[2020-03-10 09:03] #1169 closed

[2020-03-10 09:29] #1726 closed

[2020-03-10 18:22] jinlii opened #1766 "Arrow keys inside table column move focus for custom LightningDatatable"
### Description
When you create your own data types by extends LightningDatatable, arrow keys do not work inside  <lightning-textarea></lightning-textarea>. Instead it moves focus to another column.

#### Steps to Reproduce
1.
export default class MyDatatable extends LightningDatatable {
   static customTypes = {
       edit: {
           template: editCol,
       }
   };
}

2.
` <c-my-datatable k

[2020-03-10 18:28] diervo commented on #1766
@jinlii unfortunately this is the wrong repository for getting your issue resolved since we do not own those components, so it will be hard for us to assess where the issue is. I suggest you file an issue on the  [app exchange](https://salesforce.stackexchange.com/) and someone from the team will be able to help.

[2020-03-10 18:28] #1766 closed

[2020-03-10 19:59] ravijayaramappa opened #1767 "[IE11] Refactor usage of constructor.name pattern in error messages"
### Description
function.name is not a supported property in IE11(https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Function/name). Error messages that use the constructor.name pattern are displayed incorrectly in IE11. For example:
Expected:
[code]
Actual:
[code]

#### Steps to Reproduce
Try to load the following component in IE11:

[code]

[code]

[2020-03-11 04:10] ravijayaramappa opened #1769 "Inconsistent behavior of id attribute in custom element v/s standard html element"
### Description
A custom element's id attribute behaves differently compare to a standard html element when the id property is bound to a class getter that returns `undefined`.

This difference is because of the way compiler handles id value for the two types of component. For custom element, the compiler handles the `id` property as `props`.
For a standard element, the compiler handles the `id` p

[2020-03-11 23:30] apapko commented on #1691
@pmdartus given there is no workaround, can this be closed?

[2020-03-12 09:21] pmdartus commented on #1691
Yes, the remaining work overlaps with #248. Let's close this issue.

[2020-03-12 09:21] #1691 closed

[2020-03-12 14:08] lbineau commented on #1699
Any news regarding this work item?

[2020-03-12 17:48] apapko opened #1772 "deprecate the support of "\" and adjust the error message"
**Is your feature request related to a problem? Please describe.**
Follow up work from #1672 - deprecate the support of "\" and adjust the error message. @reiniergs can you please help to fascinate the process to identify the usage of "\"

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concis

[2020-03-13 18:19] tomSny commented on #1666
Having same issue extending LightningDatatable.
 `const selectedEvent = new CustomEvent("isdirtychange", { detail: { isDirty: this.isDirty }});
this.dispatchEvent(selectedEvent);`

[2020-03-13 18:28] diervo commented on #1666
Can you give us a repro case on the playground?

[2020-03-13 18:32] juvian commented on #1666
It works on playground/local server, its when using lightning out when it does not

[2020-03-14 03:16] caridy commented on #1666
uff, that's probably another conflict with the host page's polyfills! I will recommend to log a case to get the proper investigation (this will need to debug the app live most likely to see what's the problematic polyfill).

[2020-03-14 04:12] juvian commented on #1666
Do you mean log a case to salesforce support? I see several things working differently with lightning out, and unlike this one which is a clear bug, some makes me wonder if its intentional or not.

[2020-03-14 04:53] caridy commented on #1666
I'm not very familiar with the differences that lightning-out might carry out, but we have seen tickets about conflicting polyfills, which cause some errors in LWC when running in lightning out. That's why I recommend to open a case to salesforce support.

[2020-03-14 04:55] #1666 closed

[2020-03-18 16:55] caridy commented on #1699
@Gr8Gatsby

[2020-03-23 20:00] jastend opened #1780 "lightning-formatted-date-time & lightning-input type="date" wrongly rendering Portuguese dates"
### Description
When using Brazilian Portuguese locale and language, I have noticed that there's a display issue when using both `lightning-formatted-date-time` and `lightning-input type="date"`.

The output will look like this:

#### Steps to Reproduce
Make sure to set the locale to Brasilian Portuguese. This won't work on local dev environments.

Example: https://developer.salesforce.com/docs/co

[2020-03-23 20:55] diervo commented on #1780
Sorry but unfortunately this is not the right forum/repository to solve salesforce component specific issues. Please raise an issue in stackoverflow. Maybe @gonzalocordero will be able to forward this bug to the Component's team.

[2020-03-23 20:55] #1780 closed

[2020-03-25 06:07] narendrasinghrathore commented on #1367
So is it being resolved, or need some tweaks @diervo @caridy

[2020-03-25 15:01] diervo commented on #1367
If something still missing file a new issue.

On Tue, Mar 24, 2020 at 11:07 PM Narendra Singh Rathore <
notifications@github.com> wrote:

[2020-03-25 15:25] narendrasinghrathore opened #1781 "Self closing <animateTransform> and <path> fails at compilation"
### Description
Using svg in template or component. Getting error at compiler and linter.
#### Steps to Reproduce
Add svg in component html file and complier generate error
![image](https://user-images.githubusercontent.com/4208015/77553405-c7aab200-6eda-11ea-8b2a-c4ec5e26a825.png)

https://developer.salesforce.com/docs/component-library/tools/playground/lq-8iCl3B/27/

[2020-03-25 15:28] narendrasinghrathore commented on #1781
It generated error first for <path> i.e. has no matching closing tag, i manually added closing tag for that ( problem solved or you can say no lint or compiler error ).
Second error for <animateTransform> i.e. has no matching closing tag, i manually added closing tag for same, but getting same error.

[2020-03-30 09:30] pmdartus opened #1788 "Module resolver doesn't preserve symbolic links"
### Description

The module resolver doesn't preserve the symbolic links when resolving NPM modules. This is problematic when resolving linked packages depending on shared modules (eg. `lwc`).

#### Steps to Reproduce

The following application is not able to build because `@lwc/engine` can't be resolved from the `my-dependency` package that is linked to the `app` package.

[code]

The project thr

[2020-03-30 17:32] aputinski opened #1790 "[Feature Request] Side Effects"
**Is your feature request related to a problem? Please describe.**

Currently, running side effects (network requests, manual dom updates, etc) after prop changes is very cumbersome.

The recommended approach is to use getters/setters. As far as I understand, the following code is what would be required to run `sideEffect` whenever
`a` `b` or `c` changes.

[code]

The first issue with this code is

[2020-03-30 18:04] caridy commented on #1790
I'm definitely not ok with either of those solutions, nor with the possibility to observe that point in time during the life-cycle of the component in a synchronous manner, but we can discuss it for sure. We have debated this in the past multiple times, this is a gigantic foot-gun because it will be part of the critical path that might attempt to block the rendering mechanism.

Additionally, as we

[2020-03-30 18:10] aputinski commented on #1790
The most obvious use of this feature is making network requests when the component connects and when properties change. We're working on several components that need to do this. I also have other components that need to run manual dom side effects when properties change.

[2020-03-30 18:26] #1790 closed

[2020-03-30 18:45] caridy commented on #1790
Note: on an offline conversation with @aputinski we agreed that a wire adapter is good enough for this use-case, it gives you reactivity for configuration passed to the wire adapter (which can include a, b, c from the example above), and will allow you to detect connect and disconnect of the element itself, which is all you need to go and fetch data. That's the main use-case for the wire protocol

[2020-03-31 12:40] bmblb opened #1791 "Node.contains API is broken, returns false for node itself"
### Description
Node.contains API doesn't work like it is described in [MDN](https://developer.mozilla.org/en-US/docs/Web/API/Node/contains). Latter states that

#### Steps to Reproduce
See this playground app:
https://developer.salesforce.com/docs/component-library/tools/playground/OhXG7B2Gh/3/edit

#### Expected Results

`true` is shown on the page
#### Actual Results

`false` is shown
### Brows

[2020-03-31 13:42] bmblb commented on #1791
Workaround:
[code]

I was afraid it won't help given the amount of encapsulation and protection, but it did.

[2020-03-31 15:28] bmblb opened #1792 "Component shadow root is not accessible in LWC"
### Description
I am trying to get current active element inside the web component, but cannot. Maybe this is not a bug but a security measure, regardless I still would appreciate some insight.

#### Steps to Reproduce
This is not reproducible in playground, I had to use scratch org. Steps:
1. create new LWC
2. add this HTML
[code]
3. CSS (optional)
[code]
4. JS
[code]
5. meta
[code]
6. Push sourc

[2020-03-31 17:52] bmblb commented on #1791
I see a PR with a fix already. Very impressive!

[2020-03-31 20:13] #1791 closed

[2020-03-31 20:13] ravijayaramappa commented on #1791
@bmblb thanks for reporting the issue.

[2020-04-01 02:27] caridy commented on #1792
This problem is not on LWC, this is just a integrity measurement by locker service in your scratch org, which prevents traversing down but `elm.shadowRoot`, which will always return `null` when running inside locker. I will not close this, until we can confirm that this is the case. In the playground, and in the open source version of this library, you should not have such issue, and you will be a

[2020-04-01 15:46] bmblb opened #1795 "Cannot set currentNode on tree walker"
### Description
`Failed to set the 'currentNode' property on 'TreeWalker': The provided value is not of type 'Node'`

#### Steps to Reproduce
1. Create LWC app like in this playground: https://developer.salesforce.com/docs/component-library/tools/playground/WybjPasaI/1/edit
Issue is not reproducible there, but I can see it

#### Expected Results
*Current node* element should cycle item 1 -> item 2

[2020-04-01 17:07] caridy commented on #1795
This is another one that is on locker service rather than this library. As you can see, that's a SecureElement target in the screenshot above, that indicates that this is coming from Locker, which is not doing the proper unwrapping of those proxies before calling the underlaying DOM api. Feel free to open a bug for that team.

[2020-04-01 18:08] bmblb commented on #1795
Could you please tell me where to report that problem?

[2020-04-01 18:40] caridy commented on #1795
cc @seksenov

[2020-04-02 00:41] jbleyleSF commented on #1680
Should I add guidance in the docs that properties used in templates must be primitive values, except when used in a `for:each` or `iterator` directive?

[2020-04-02 02:51] caridy commented on #1680
I will not say `must`, but `should` maybe :)

[2020-04-02 15:04] aputinski opened #1799 "Root components doesn't accept slotted content"
### Description

When using `@lwc/synthetic-shadow` and `buildCustomElementConstructor`, elements with a `<slot></slot>` render the slotted content outside of the template.

#### Steps to Reproduce

https://github.com/aputinski/lwc-test-case-synthetic-shadow

[code]

[code]

[code]

#### Expected Results
[code]

#### Actual Results
[code]

### Version
[code]

[2020-04-02 15:55] caridy commented on #1799
This is to be solved by https://github.com/salesforce/lwc/pull/1594

[2020-04-02 15:56] caridy commented on #1799
btw, this is not strictly about buildCustomElementConstructor, it is just that root elements implemented in LWC do not accept slotted content, that's all.

[2020-04-02 16:29] aputinski commented on #1799
This seems to be related to `@lwc/synthetic-shadow` though? I get the expected results with native shadow.

[2020-04-02 16:50] diervo commented on #1799
Yeah this is a known limitation, and one that will take us a while to solve. Think about this as the same with Aura and LWC, you can't have an LWC component have a slot/facet from Aura, because its a framework impedance missmatch.

Synthetic is the same here.

I think once we merge node-reactions which will use some more native primitives it will allows us to close the gap here, but for the time b

[2020-04-03 08:09] dahnielkim commented on #1781
I am getting this error only when running jest-tests.

[2020-04-03 14:38] bmblb opened #1800 "Accessing event.relatedTarget throws"
### Description
Reading window event's `relatedTarget` property throws.

#### Steps to Reproduce
Reproducible on a playground: https://developer.salesforce.com/docs/component-library/tools/playground/f0mKwIvOs/1/edit

#### Expected Results
event.relatedTarget returning smth, undefined at least

#### Actual Results
Exception is thrown:
[code]

### Browsers Affected

### Version
- "@lwc/engine: "1.1

[2020-04-03 14:52] priandsf opened #1801 "Issues with custom elements & @wire"
### Description
The @wire adapters are not invoked on web components instantiated added as custom elements ion certain cases.

#### Steps to Reproduce
Clone this sample project that shows the issue: [https://github.com/priandsf/lwc-wire-customelement](https://github.com/priandsf/lwc-wire-customelement)
Execute it, and you can see "Hello world" string provided by the wire adapter. The LWC component

[2020-04-03 15:54] caridy commented on #1781
cc @apapko @ravijayaramappa

[2020-04-03 15:56] caridy commented on #1800
Probably a bug in synthetic shadow dom polyfill. cc @Gr8Gatsby @jodarove @ravijayaramappa

[2020-04-03 16:10] caridy commented on #1801
hmm, this is interesting, I will have to debug it.

[2020-04-03 17:01] caridy commented on #1801
Ok, got a chance to debug this, the issue is not the component initialization or lifecycle, the problem is that the wire adapter is registered too late, after the construction path for the component is done.

You can validate this by adding a breakpoint on `registerWireService` method. I believe this is going to be solved by the wire reform (pending to be merged), because that will not rely on the

[2020-04-03 17:38] priandsf commented on #1801
I tried to register the adapter as soon as possible from main.js but the result is identical. Anyway, I'll wait for the wire reform and see if this is fix. @jodarove what is the ETA for this merge?

[2020-04-04 18:06] brahmaji83 commented on #1616
As a workaround, this.columns = JSON.parse(JSON.stringify(cols); It should resolve this issue.

[2020-04-05 00:55] caridy commented on #1616
Yes, because that creates a fresh data structure that the reactivity system can pick up, and render accordingly. cc @Gr8Gatsby

[2020-04-06 13:56] pmdartus commented on #1781
The template compiler has an incomplete least of self-closing elements ([code](https://github.com/salesforce/lwc/blob/master/packages/@lwc/template-compiler/src/parser/html.ts#L48-L72)).

[2020-04-06 18:48] joeferraro commented on #1618
We're having this exact same issue in console. Our steps to reproduce:

1. Open a console app
2. Open a console main tab that has an Aura component that subscribes to the `empApi` when it initializes
3. Open a separate console main tab that has an LWC component that subscribes to the `empApi` when a button is clicked
4. Click the button in the LWC component that subscribes to the `empApi`
5. Recei

[2020-04-06 21:27] ekashida opened #1805 "Remove yarn resolution for minimist"
This was added in https://github.com/salesforce/lwc/pull/1804 to override the version of `minimist` pulled in by `karma` (karma > optimist (deprecated) > minimist). The resolution can be removed once `karma` releases a new version which includes https://github.com/karma-runner/karma/pull/3451. The current version of `karma` is `v4.4.1`.

[2020-04-06 21:38] caridy commented on #1618
By looking at the error message, this seems like a problem with proxies. Promise.prototype.then expects a branded promise object, but it is receiving a proxy of it most likely, which is not branded. This could be locker service doing the wrong thing.

[2020-04-07 10:00] pmdartus commented on #1800
It looks like the `pathComposer` is doing a wrong type guard.

https://github.com/salesforce/lwc/blob/f6844f28894b8bad1336dd1753314e41b1737ac5/packages/%40lwc/synthetic-shadow/src/3rdparty/polymer/path-composer.ts#L39

At this point in the algorithm, the `current.parentNode` might be an instance of `Window`. Accessing `parentNode` on the `Window` returns `undefined` explaining why the error is thr

[2020-04-07 10:02] bmblb opened #1808 "SVGElement.dataset property is undefined"
### Description
This propery is part of SVG 2, supported everywhere except IE11.

#### Steps to Reproduce
Not reproducible in a playground, but is reproducible in scratch org: https://developer.salesforce.com/docs/component-library/tools/playground/cQQz_x2Gd/1/edit

#### Expected Results
`data-foo="bar"` attribute to appear on the line element

#### Actual Results
attribure doesn't appear, excepti

[2020-04-07 10:23] pmdartus commented on #1808
Thanks for opening all those bugs, really appreciate the time and effort you put into this.
This is not reproducible in the playground because the playground doesn't use Locker Service. Locker is currently filtering access to `SVGElement.prototype.dataset`. You can verify this using the [Locker Console](https://developer.salesforce.com/docs/component-library/tools/locker-service-console).

[2020-04-07 10:30] bmblb commented on #1808
No worries. I'm trying to utilize 3rd party component inside a LWC application. Component uses a lot of native APIs and I'm running into plenty of issues, mostly related to event system. Good news is so far I am able to overcome those by retargeting listeners from window/document/document.body to `this.template` and `this.template.firstChild`.

[2020-04-07 16:53] bmblb opened #1809 "Cannot set drag image on DataTransfer"
### Description
Exception is thrown when trying to set dragImage:
[code]

#### Steps to Reproduce
As usual, not reproducible on a playground, locker service is required:
https://developer.salesforce.com/docs/component-library/tools/playground/EUbKngS5n/2/edit

#### Expected Results
Blank image to be set

#### Actual Results
Exception is thrown

### Browsers Affected

### Version
- "lwc-engine": "1

[2020-04-07 22:16] jarrodek opened #1810 "Missing `hasAttribute()` on a component"
### Description
The `hasAttribute()` function is undefined for a component instance.

#### Steps to Reproduce
1. In a component constructor try to check whether an attribute is set

[code]

#### Expected Results
Attribute is set when missing

#### Actual Results
[code]

### Browsers Affected
Chrome

### Version
No idea. I am using create-app (or something) command.

**Possible Solution**
Add `hasA

[2020-04-07 22:20] jarrodek opened #1811 "[LWC error]: Invalid event type"
### Description
The compiler throws the following error:

[code]
I am not sure why anyone decided to go around web standards and limited pattern for event names.

#### Steps to Reproduce
1. Dispatch an event with a dash character.

[code]

#### Expected Results
No error is throw, event is dispatched.

#### Actual Results
Error is thrown, event is not dispatched.

### Browsers Affected
Chrome.

[2020-04-07 22:21] caridy commented on #1810
This is a footgun, so it is restricted today. We can evaluate reopening it, but in general, your could is faulty because during construction path no attributes can be added by spec, which means no attribute can be present, by spec.

Additionally, you should not play with tabindex, it is another footgun, let `delegatesFocus` to do its thing.

[2020-04-07 22:24] diervo commented on #1811
I think we did the restriction because the spec was somewhat ambiguous an there were some issues in safari. @pmdartus will remember better if we can lift this up.

[2020-04-07 22:41] ekashida commented on #1811
We have this restriction because it allows users to listen for events both declaratively and imperatively while also following the [web convention for event types](https://w3ctag.github.io/design-principles/#casing-rules).

If we wanted to add declarative support for `value-changed` then we would have to support `onvalue-changed={handleValueChanged}` in our template compiler which would introduce

[2020-04-07 23:43] jarrodek commented on #1811
I am using this and other events like that cross-platform for a very long time and never had any problem. Although, I am not a fan of such naming right now (I can't recall any DOM event having a dash in a name). But If I am to rewrite quite complex application to LWC I prefer to have less to worry about.

I agree with the standards. But this standards is a recommendation. If that would be a standa